td:first-child, th:first-child {
    box-sizing: border-box;
    width: 8em;
    padding-right: 0.5em;
}

#word_header > form {
    align-self: center;
}

#word_header button {
    padding: 0;
}

#word_header > h1 {
    flex-grow: 1;
}

#word_header {
    gap: 1em;
}

h2.caption {
    margin: 0 0 0.5em;
}

ul#contributors, ul#datasets {
    list-style: none;
    padding-left: 1em;
    margin-top: 0.5em;
}

/* Comma separated list */
ul#contributors li {
    display: inline;
}

ul#contributors li:not(:last-child):after {
    content: ", ";
}

ul#datasets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul#datasets li {
    display: grid;
    grid-template-columns: auto 1fr;
}

ul#datasets > li > * {
    grid-column: 2 / 2;
    margin: 0 0 5px;
}

ul#datasets img {
    grid-column: 1 / 1;
    grid-row: 1 / 20;
    max-height: 100px;
    width: 100px;
    margin-right: 15px;
}

ul#datasets h3 {
    font-size: large;
}
