.suggested_word_text {
    margin: 0;
}

li:target {
    background-color: #ffffcc;
    box-shadow: 0 0 0 5px #ffffcc;
    border-radius: 5px;
}

h3.suggested_word_text strong.noun_class_prefix {
    font-weight: bolder;
}

a {
    text-decoration: none; /* interferes with <ins> */
}

td:first-child, th:first-child {
    box-sizing: border-box;
    width: 15em;
    padding-right: 0.5em;
}

li::marker {
    font-size: 1.17em;
}

#suggestions > ul {
    margin: 0;
}

#suggestions > ul > li {
    margin-bottom: 1em;
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}

#confirm_duplicates:empty {
    display: none;
}

#confirm_duplicates > ol {
    margin: 0;
    padding: 0;
}

#confirm_duplicates li::marker {
    font-size: 1rem;
}
