#datasets {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

#datasets > li {
    display: grid;
    grid-template-columns: 100px auto min-content min-content;
    column-gap: 15px;
}

#datasets > li > img {
    grid-column: 1 / 1;
    grid-row: 1 / 20; /* HACK(restioson): Firefox doesn't seem to properly support 1 / -1 */
}

#datasets > li > img::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    border: solid 1px red;
}

#datasets > li > * {
    margin: 0;
    grid-column: 2 / 3;
}

#datasets > li > .edit-button {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

#datasets > li > .delete-button {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    display: flex;
}

#datasets > li > h3 {
    margin-bottom: 0.5rem;
}

#datasets > li > h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

