{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("about") -%}
    {%- call macros::description("about.description") -%}
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header><h1>{{ self.t("about") }}</h1></header>
        <main>
            <article>
                <h2 id="aim">{{ self.t("about.aim") }}</h2>
                <p>{{ self.t("about.aim-text")|safe }}<p>

                <h2 id="usage">{{ self.t("about.usage") }}</h2>
                <p>{{ self.t_with("about.usage-text", crate::i18n_args!("word-count" => self.word_count))|safe }}</p>

                <h2 id="submitting-edits">{{ self.t("about.submitting-edits") }}</h2>
                {{ self.t("about.submitting-edits-text")|safe }}

                <h2 id="terms-of-use">{{ self.t("about.terms-of-use") }}</h2>
                {{ self.t("about.terms-of-use-text")|safe }}

                <h2 id="license">{{ self.t("about.license") }}</h2>
                {{ self.t("about.license-text")|safe }}

                <h2 id="acknowledgements">{{ self.t("about.acknowledgements") }}</h2>
                {{ self.t("about.acknowledgements-text")|safe }}
            </article>
        </main>
    </div>
</body>
</html>
