{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>Offline - IsiXhosa.click</title>
    <meta name="robots" content="noindex">
    {%- call macros::meta() -%}
</head>

<body>
    <nav class="menu" id="menu">
        <a id="site_name_container" href="/">
            <div id="site_icon"><img src="/icons/icon-192.png" width="40" height="40" alt="Site icon"></div>
            <span id="site_name">IsiXhosa.click Live Dictionary</span>
        </a>
    </nav>

    <div id="main_wrap">
        <header><h1>You are currently offline</h1></header>

        <main>
            <p>
                You are currently disconnected from the internet, or the website could not be reached. Try reconnect to
                a network, or try again later.
            </p>

            <p>Click the button below to reload this page.</p>
            <button type="button">Reload</button>
        </main>
    </div>

    <script type="module">
        document.querySelector("button").addEventListener("click", () => {
            window.location.reload();
        });

        if (window.location.pathname !== "/offline") {
            window.addEventListener('online', () => {
                window.location.reload();
            });

            async function checkNetworkAndReload() {
                try {
                    let response = await fetch('.');
                    if (response.status >= 200 && response.status < 500) { /* Any valid response */
                        window.location.reload();
                        return;
                    }
                } catch {}
                window.setTimeout(checkNetworkAndReload, 5000);
            }

          checkNetworkAndReload();
        }
    </script>
</body>
</html>
