{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("offline") -%}
    <meta name="robots" content="noindex">
    {%- call macros::meta() -%}
</head>

<body>
    <nav class="menu" id="menu">
        <a id="site_name_container" href="/">
            <div id="site_icon"><img src="/icons/icon-192.png" width="40" height="40" alt="Site icon"></div>
            <span id="site_name">{{ self.t("site") }}</span>
        </a>
    </nav>

    <div id="main_wrap">
        <header><h1>{{ self.t("offline.header") }}</h1></header>

        <main>
            <p>{{ self.t("offline.explanation") }}</p>

            <p>{{ self.t("offline.click-to-reload") }}</p>
            <button type="button">{{ self.t("reload") }}</button>
        </main>
    </div>

    <script type="module">
        document.querySelector("button").addEventListener("click", () => {
            window.location.reload();
        });

        if (window.location.pathname !== "/offline") {
            window.addEventListener('online', () => {
                window.location.reload();
            });

            async function checkNetworkAndReload() {
                try {
                    let response = await fetch('.');
                    if (response.status >= 200 && response.status < 500) { /* Any valid response */
                        window.location.reload();
                        return;
                    }
                } catch {}
                window.setTimeout(checkNetworkAndReload, 5000);
            }

          checkNetworkAndReload();
        }
    </script>
</body>
</html>
