{%- import "search_box.askama.html" as searchbox -%}
{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>

<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("search.title") -%}
    {%- call macros::description("search.description") -%}
    <meta name="og:url" content="https://{{ self.host() }}/search"/>
    <link rel="stylesheet" href="/search.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header id="main_header">
            <h1>{{ self.t("search.header") }}</h1>
        </header>

        <main class="search_container">
            {%- call searchbox::searchbox(query, !hits.is_empty()) -%}

            <div id="searchbox"></div>
            <div id="hits">
                {%- if !hits.is_empty() -%}
                    <ol class="hits">
                        {%- for hit in hits -%}
                            <li class="hit_container">
                                <a class="hit" href="/word/{{ hit.id }}">
                                    <span>{{ hit.to_html(i18n_info)|safe }}</span>
                                    {{ crate::icon!("mdi:arrow-forward" class="go_arrow")|safe }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ol>
                {%- else -%}
                    <noscript>{{ self.t("search.no-results") }}</noscript>
                {%- endif -%}
            </div>
        </main>
    </div>
</body>
</html>
