{%- import "search_box.askama.html" as searchbox -%}
{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>

<html lang="{{ self.lang() }}">
<head>
    <title>Live Dictionary - IsiXhosa.click</title>
    <meta name="og:title" content="Search - IsiXhosa.click"/>
    <meta name="og:url" content="https://isixhosa.click/search"/>
    {%- call macros::description("search.description") -%}
    <link rel="stylesheet" href="/search.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header id="main_header">
            <h1>Search for a word</h1>
        </header>

        <main class="search_container">
            {%- call searchbox::searchbox(query, !hits.is_empty()) -%}

            <div id="searchbox"></div>
            <div id="hits">
                <ol class="hits">
                    {%- for hit in hits -%}
                        <li class="hit_container">
                            <a class="hit" href="/word/{{ hit.id }}">
                                <span>{{ hit.to_html(i18n_info)|safe }}</span>
                                <span class="material-icons go_arrow">arrow_forward</span>
                            </a>
                        </li>
                    {%- endfor -%}
                </ol>
            </div>
        </main>
    </div>
</body>
</html>
