{%- macro searchbox(start_query, has_results) -%}
    <script type="module">import {LiveSearch} from "/live_search.js";

        window.addEventListener("DOMContentLoaded", function() {
            let input = document.createElement("input");

            input.placeholder = '{{ self.t("search.prompt") }}';
            input.className = "searchbox_input";
            input.type = "search";
            input.value = "{{ start_query }}";
            input.setAttribute("aria-label", '{{ self.t("search.header") }}');
            input.autofocus = true;
            input.focus();
            document.getElementById("searchbox").appendChild(input);

            document.getElementById("searchbox").role = "search";

            function createContainer() {
                let list = document.createElement("ol");
                list.className = "hits";
                return list;
            }

            function createItem() {
                return document.createElement("span");
            }

            function postCreateItem(span) {
                let link = span.parentElement;
                let goArrow = document.createElement("span");
                goArrow.classList.add("material-icons", "go_arrow");
                goArrow.innerText = "arrow_forward";
                link.appendChild(goArrow);
            }

            function createItemContainer(id) {
                let container = document.createElement("li");
                container.className = "hit_container";
                let link = document.createElement("a");
                link.href = `/word/${id}`;
                link.className = "hit";
                container.appendChild(link);
                return [container, link];
            }

            new LiveSearch(
                input,
                document.getElementById("hits"),
                createContainer,
                createItem,
                postCreateItem,
                createItemContainer,
                r => true, /* filter */
                false /* include own suggestions */
            );
        });
    </script>

    <noscript>
        <form id="search" action="/search" method="GET" role="search">

            <input type="search" id="query" name="query" value="{{ start_query }}" {#--#}
                placeholder='{{ self.t("search.prompt") }}' autofocus spellcheck="false" aria-label='{{ self.t("search.header") }}' {#--#}
                class="searchbox_input {% if has_results %} has_results {% endif -%}">
            <button type="submit" class="screenreader_only">{{ self.t("search.do-search") }}</button>
        </form>
    </noscript>
{%- endmacro -%}
