{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("settings") -%}
        <link rel="stylesheet" href="/signup.css">
    <link rel="stylesheet" href="/settings.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header>
            <h1>{{ self.t("settings") }}</h1>
        </header>

        <main>
            <script type="module">
                window.addEventListener("DOMContentLoaded", function() {
                    let all = Array.from(document.querySelectorAll(":required"));
                    let changes = false;
                    let chosen_submit = false;
                    let unsaved_changes = document.getElementById("unsaved-changes");

                    for (let elt of all) {
                        let event = "change";
                        if (elt instanceof HTMLInputElement || elt instanceof HTMLTextAreaElement) {
                            event = "input";
                        }

                        let orig = elt.value;
                        elt.setAttribute("data-orig", orig);

                        elt.addEventListener(event, function() {
                            changes = all.some(elt => elt.value !== elt.getAttribute("data-orig"));
                            unsaved_changes.hidden = !changes;
                        });
                    }

                    window.addEventListener("beforeunload", function(evt) {
                        if (changes && !chosen_submit) {
                            evt.preventDefault();
                            evt.returnValue = true;
                        }
                    });

                    /* Make the user confirm first */
                    let form = document.getElementById("settings_form");
                    document.getElementById("confirm_yes").onclick = function() {
                        chosen_submit = true;
                        form.submit();
                    };

                    document.getElementById("confirm_no").onclick = function() {
                        chosen_submit = false;
                        document.getElementById("confirm").classList.remove("open");
                    };


                    form.addEventListener("submit", function(evt) {
                        document.getElementById("confirm").classList.add("open");
                        evt.preventDefault();
                        return false;
                    })
                });
            </script>

            {%- match previous_success -%}
                {%- when Some with (success) -%}
                    <script type="module">
                        /* HACK(restioson): stop F5 from resubmitting form */
                        if (window.history.replaceState) {
                            window.history.replaceState(null, null, window.location.href);
                        }

                        /* HACK(restioson): move user back to /settings */
                        history.replaceState(null, null, window.location.origin + "/settings");
                    </script>

                    {%- if success -%}
                        <p>{{ self.t("settings.success") }}</p>
                    {%- else -%}
                        <p>{{ self.t("settings.failure") }}</p>
                    {%- endif -%}
                {%- when None -%}
            {%- endmatch -%}

            <form id="settings_form" action="/settings" method="post" enctype="application/x-www-form-urlencoded" class="column_list spaced_flex_list">
                <div>
                    <label for="username" tabindex="0" data-descr='{{ self.t("username.explanation") }}'>
                        {{ self.t("username") }}<span class="required">*</span>:
                    </label>
                    <input type="text" id="username" name="username" value='{{ user.username }}' spellcheck="false" required autocomplete="off">
                </div>

                <div>
                    <label for="language" tabindex="0" data-descr='{{ self.t("select-language.explanation") }}'>
                        {{ self.t("select-language")|safe }}<span class="required">*</span>:
                    </label>
                    <select id="language" name="language" required autocomplete="off">
                        {%- for language in i18n_info.ctx.supported_languages() -%}
                            <option value="{{ language.id }}" {% if language.id == user.language -%} selected {%- endif -%}>
                                {{ language.flag }}
                                {{ language.name }}
                            </option>
                        {%- endfor -%}
                    </select>
                </div>

                <div>
                    <input type="checkbox" id="dont_display_name" name="dont_display_name" value="{{ user.display_name }}" autocomplete="off">
                    <label for="dont_display_name">
                        {{ self.t("username.do-not-credit") }}
                    </label>
                </div>

                <div>
                    <div id="unsaved-changes" hidden>{{ self.t("settings.unsaved") }}</div>
                    <button type="submit" id="save-button">{{ self.t("settings.save") }}</button>
                </div>
            </form>
        </main>

        <div id="confirm" class="modal">
            <div class="column_list spaced_flex_list">
                <div id="confirm_label">{{ self.t("settings.confirm") }}</div>

                <div class="confirm_modal_buttons">
                    <button id="confirm_yes">{{ self.t("yes.capital") }}</button>
                    <button id="confirm_no">{{ self.t("no.capital") }}</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
