{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("style-guide") -%}
    {%- call macros::description("style-guide.description") -%}
    <meta name="og:url" content="https://{{ self.host() }}/style_guide"/>
    <link rel="stylesheet" href="/style_guide.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header><h1>{{ self.t("style-guide") }}</h1></header>

        <main>
            <h2>{{ self.t("style-guide.entry-guidelines") }}</h2>

            <p id="entry-dfn">{{ self.t("style-guide.entry-definition")|safe }}</p>
            {{ self.t("style-guide.entry-guidelines-text")|safe }}

            <p>{{ self.t("style-guide.translation-preferences") }}</p>
            {{ self.t("style-guide.translation-preferences-text")|safe }}

            <h2>{{ self.t("linked-words") }}</h2>
            <p id="linked-word-dfn">{{ self.t("style-guide.linked-words-definition")|safe }}</p>

            <h3>{{ self.t("style-guide.linked-words-types") }}</h3>
            {{ self.t("style-guide.linked-words-types-text")|safe }}

            <h2>{{ self.t("style-guide.examples") }}</h2>
            {{ self.t("style-guide.examples-text")|safe }}
        </main>
    </div>
</body>
</html>
