{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("submit") -%}
    {%- call macros::description("submit.description") -%}
    <meta name="og:url" content="https://{{ self.host() }}/submit"/>
    <link rel="stylesheet" href="/submit.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}

    <div id="main_wrap">
        <header>
            <h1>{{ self.t("submit") }}</h1>
        </header>

        {%- match previous_success -%}
            {%- when Some with (true) -%}
                {%- call macros::fix_form_f5("/submit") -%}
            {%- when other -%}
        {%- endmatch -%}

        <main>
            {%- match previous_success -%}
                {%- when Some with (true) -%}
                    <p>{{ self.t("submit.submit-success") }}</p>
                {%- when Some with (false) -%}
                    <p>{{ self.t("submit.submit-fail") }}</p>
                {%- when None -%}
            {%- endmatch -%}

            <noscript><p><strong>{{ self.t("js-required") }}</strong></p></noscript>

            {%- let route -%}

            {%- match action -%}
                {%- when SubmitFormAction::EditSuggestion with { suggestion_id: _, existing_id: _, suggestion_anchor_ord: _ } -%}
                    {%- let route = "/moderation/edit".to_string() -%}
                {%- when SubmitFormAction::SubmitNewWord -%}
                    {%- let route = "/submit".to_string() -%}
                {%- when SubmitFormAction::EditExisting with (id) -%}
                    {%- let route = format!("/word/{}", id) -%}
            {%- endmatch -%}

            <form id="submit_word" action="{{ route }}" method="post" enctype="application/x-www-form-urlencoded"
                {#-#} class="column_list"
            >
                {%- let existing_id -%}

                {%- match action -%}
                    {%- when SubmitFormAction::EditSuggestion with { suggestion_id, existing_id: exist, suggestion_anchor_ord } -%}
                        <select name="suggestion_id" hidden><option value="{{ suggestion_id }}"></select>
                        <select name="suggestion_anchor_ord" hidden><option value="{{ suggestion_anchor_ord }}"></select>
                        {%- let existing_id = exist.clone() -%}
                    {%- when SubmitFormAction::EditExisting with (id) -%}
                         {%- let existing_id = Some(id.clone()) -%}
                    {%- when other -%}
                        {%- let existing_id = None -%}
                {%- endmatch -%}

                {%- match existing_id -%}
                    {%- when Some with (existing_id) -%}
                        <select name="existing_id" hidden><option value="{{ existing_id }}"></select>
                    {%- when None -%}
                {%- endmatch -%}

                <div>
                    <p>{{ self.t("submit.check-style")|safe }}
                    {{ self.t("submit.required-field")|safe }}</p>
                </div>

                {%- let src_lang = self.t("source-language-code") -%}
                {%- let target_lang = self.t("target-language-code") -%}

                <fieldset class="contains_table">
                    <legend>{{ self.t("submit.translation") }}</legend>

                    <div class="table">
                        <div>
                            <label for="english">{{ self.t("source-language") }}<span class="required">*</span>:</label>
                            <div>
                                <input type="text" id="english" name="english" autocomplete="off" spellcheck="true"
                                 {#-#} lang="{{ src_lang }}" value="{{ word.english }}" required>
                                <div class="duplicates_container">
                                    <div class="duplicates_popover">
                                        <div>{{ self.t("submit.possible-duplicates") }}</div>
                                        <div class="duplicates"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="xhosa">{{ self.t("target-language") }}<span class="required">*</span>:</label>
                            <div>
                                <input type="text" id="xhosa" name="xhosa" autocomplete="off" spellcheck="false"
                                 {#-#} value="{{ word.xhosa }}" lang="{{ target_lang }}" required>
                                <div class="duplicates_container">
                                    <div class="duplicates_popover">
                                        <div>{{ self.t("submit.possible-duplicates") }}</div>
                                        <div class="duplicates"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="xhosa_tone_markings" tabindex="0"
                                   {#-#} data-descr='{{ self.t("with-tone-markings.explanation") }}'>
                                {{ self.t("with-tone-markings") }}
                            </label>
                            <input type="text" id="xhosa_tone_markings" name="xhosa_tone_markings" autocomplete="off"
                             {#-#} spellcheck="false" value="{{ word.xhosa_tone_markings }}" lang="{{ target_lang }}">
                        </div>

                        <div>
                            <label for="is_informal">{{ self.t("informal") }}</label>
                            <input type="checkbox" id="is_informal" name="is_informal"
                                {%- if word.is_informal %} checked {%- endif -%}>
                        </div>

                        <div>
                            <label for="note">{{ self.t("note") }}:</label>
                            <textarea id="note" name="note" autocomplete="off" spellcheck="true">
                                {{- word.note -}}
                            </textarea>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="contains_table">
                    <legend>{{ self.t("part-of-speech") }}</legend>

                    <div class="table">
                        <div>
                            <label for="part_of_speech">{{ self.t("part-of-speech") }}<span class="required">*</span>:</label>
                            <select id="part_of_speech" name="part_of_speech" required>
                                <option value="">{{ self.t("part-of-speech.choose") }}</option>
                                <option value="verb" id="verb_selected">{{ self.t("verb.capitalised") }}</option>
                                <option value="noun" id="noun_selected">{{ self.t("noun.capitalised") }}</option>
                                <option value="adverb">{{ self.t("adverb.capitalised") }}</option>
                                <option value="relative">{{ self.t("relative.capitalised") }}</option>
                                <option value="adjective" {%- if !auth.has_administrator_permissions() -%} disabled hidden {%- endif -%}>
                                    {{ self.t("adjective.capitalised") }}
                                </option>
                                <option value="interjection">{{ self.t("interjection.capitalised") }}</option>
                                <option value="conjunction" id="conjunction_selected">{{ self.t("conjunction.capitalised") }}</option>
                                <option value="preposition">{{ self.t("preposition.capitalised") }}</option>
                                <option value="ideophone">{{ self.t("ideophone.capitalised") }}</option>
                            </select>
                        </div>

                        {%- match word.part_of_speech -%}
                            {% when Some with (part) %}
                                <script type="module">
                                    window.addEventListener("DOMContentLoaded", function () {
                                        let select = document.getElementById("part_of_speech");
                                        for (let option of select.options) {
                                            if (option.value === {{ part|json|safe }}) {
                                                if (option.value === "adjective") {
                                                    option.hidden = false;
                                                    option.disabled = false;
                                                }

                                                option.selected = true;
                                            }
                                        }
                                    });
                                </script>
                            {% when None %}
                        {%- endmatch -%}

                        {#-  Noun options -#}

                        <div class="noun_option" hidden>
                            <label for="is_plural">{{ self.t("submit.select-plural") }}</label>
                            <input type="checkbox" id="is_plural" name="is_plural"
                                {%- if word.is_plural %} checked {%- endif -%}>
                        </div>

                        {%- match word.noun_class -%}
                            {%- when Some with (class) -%}
                                <script type="module">
                                    window.addEventListener("DOMContentLoaded", function () {
                                        let select = document.getElementById("noun_class");
                                        select.options[{{ class.as_u8() }}].selected = true;
                                    });
                                </script>
                            {%- when None -%}
                        {%- endmatch -%}

                        <div class="noun_option" hidden>
                            <label for="noun_class">{{ self.t("noun-class") }}<span class="required">*</span>:</label>
                            <select id="noun_class" name="noun_class" class="required_if_enabled">
                                <option value="">{{ self.t("noun-class.choose") }}</option>
                                {% for class in isixhosa::noun::NounClass::iter() %}
                                    <option value="{{ class.to_number() }}">
                                    {{ isixhosa_common::format::NounClassSelect(class.clone()).to_html(i18n_info)|safe }}
                                    </option>
                                {%- endfor -%}
                            </select>
                        </div>

                        {#-  Verb options -#}

                        <div class="verb_option" hidden>
                            <label for="infinitive">{{ self.t("infinitive.form") }}<span class="required">*</span>:</label>
                            <input type="text" id="infinitive" name="infinitive" autocomplete="off" spellcheck="false"
                                {#-#} value="{{ word.infinitive }}" class="required_if_enabled" lang="{{ target_lang }}">
                        </div>

                        <div class="verb_option" hidden>
                            <label for="is_inchoative" tabindex="0" data-descr='{{ self.t("inchoative.explanation") }}' >
                                {{ self.t("submit.select-inchoative") }}
                            </label>
                            <input type="checkbox" id="is_inchoative" name="is_inchoative"
                                {%- if word.is_inchoative %} checked {%- endif -%}>
                        </div>

                        <div class="verb_option row_list" hidden>
                            <span tabindex="0" data-descr='{{ self.t("transitivity.explanation") }}'>
                                {{ self.t("transitivity") }}<span class="required">*</span>:
                            </span>

                            <div> {#- This is table-cell -#}
                                <div class="row_or_column" id="transitivity"> {#- inside of table-cell -#}
                                    <div>
                                         <input type="radio" id="either" name="transitivity" value="either" class="required_if_enabled"
                                            {%- if word.transitivity == Some(Transitivity::Ambitransitive)  %} checked {%- endif -%}>
                                        <label for="either">{{ self.t("ambitransitive") }}</label>
                                    </div>

                                    <div>
                                         <input type="radio" id="transitive" name="transitivity" value="transitive" class="required_if_enabled"
                                            {%- if word.transitivity == Some(Transitivity::Transitive) %} checked {%- endif -%}>
                                        <label for="transitive">{{ self.t("transitive.explicit") }}</label>
                                    </div>

                                    <div>
                                        <input type="radio" id="intransitive" name="transitivity" value="intransitive" class="required_if_enabled"
                                            {%- if word.transitivity == Some(Transitivity::Intransitive) %} checked {%- endif -%}>
                                        <label for="intransitive" id="intransitive_label">{{ self.t("intransitive.explicit") }}</label>
                                    </div>
                                </div>
                            </div>

                            <input type="radio" id="transitivity_unselected" name="transitivity" value="" hidden class="required_if_enabled">
                        </div>

                        {#- Conjunction options -#}

                        <div class="conjunction_option" hidden>
                            <label for="followed_by" tabindex="0"
                                {#-#} data-descr='{{ self.t("followed-by.explanation") }}'
                            >
                                {{ self.t("followed-by") }}:
                            </label>
                            <input type="text" autocomplete="off" spellcheck="false" list="followed_by_list"
                                {#-#} value="{{ word.followed_by.to_plaintext(i18n_info)|safe }}" name="followed_by"
                                {#-#} id="followed_by">

                            {#- Hidden is due to dumb table stuff -#}
                            <datalist id="followed_by_list" hidden>
                              <option value='{{ self.t("followed-by.indicative") }}'>
                              <option value='{{ self.t("followed-by.subjunctive") }}'>
                              <option value='{{ self.t("followed-by.participial") }}'>
                            </datalist>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>{{ self.t("examples") }}</legend>

                    <ul id="examples" class="bare_list spaced_list">
                        <li><button id="add_example" type="button">{{ self.t("submit.add-example") }}</button></li>
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>{{ self.t("linked-words") }}</legend>

                    <ul id="linked_words" class="bare_list spaced_list">
                        <li><button id="add_linked_word" type="button">{{ self.t("submit.add-linked-word") }}</button></li>
                    </ul>
                </fieldset>

                {%- if !datasets.is_empty() -%}
                    <fieldset>
                        <legend tabindex="0" data-descr='{{ self.t("dataset-form.explanation") }}'>
                            {{ self.t("dataset.datasets") }}
                        </legend>

                         <label for="datasets">{{ self.t("dataset-form.explanation") }}</label>

                        <select id="datasets" name="datasets[]" multiple size="{{ datasets.len() }}">
                            {%- for dataset in datasets -%}
                                <option value="{{ dataset.id }}"
                                    {%- if word.datasets.contains(dataset.id) %} selected {% endif %}>
                                    {{ dataset.name }}
                                </option>
                            {%- endfor -%}
                        </select>
                    </fieldset>
                {%- endif -%}

                <div class="column_list spaced_flex_list">
                    {%- if existing_id.is_some() -%}
                        <div>
                            <label for="changes_summary">{{ self.t("changes") }}<span class="required">*</span>:</label>
                            <textarea id="changes_summary" name="changes_summary" autocomplete="off" spellcheck="true"
                                {#-#} placeholder='{{ self.t("changes.explanation") }}' required></textarea>
                        </div>
                    {%- endif -%}

                    <div>
                        <input type="checkbox" id="tou_agree" name="tou_agree" required>
                        <label for="tou_agree">
                            {{ self.t("license-agreement")|safe -}}
                            <span class="required">*</span>
                        </label>
                    </div>

                    <button type="submit" id="submit_button">
                        {%- match action -%}
                            {%- when SubmitFormAction::SubmitNewWord -%}
                                {{ self.t("submit.submit-new") }}
                            {%- when SubmitFormAction::EditSuggestion with { suggestion_id: _, existing_id: _, suggestion_anchor_ord: _ } -%}
                                {{ self.t("submit.submit-edit-suggestion") }}
                            {%- when SubmitFormAction::EditExisting with (_) -%}
                                {{ self.t("submit.submit-edit") }}
                            {%- endmatch -%}
                    </button>
                </div>
            </form>

            <template id="delete-button-template">
                {{ crate::icon!("mdi:delete")|safe }}
            </template>

            <script type="module">
                import { setupSelectMultiple } from "/submit/util.js";
                import { addExample, addExamples } from "/submit/example.js";
                import { partOfSpeechChange } from "/submit/part_of_speech_specific.js";
                import { addLinkedWord, addLinkedWords } from "/submit/linked_word.js";
                import { addDuplicateSearchFor } from "/submit/duplicate.js";

                let translations = {{ self.i18n_info.js_translations()|json|safe }};

                window.addEventListener("DOMContentLoaded", function() {
                    for (let input of document.getElementsByTagName("input")) {
                        if (input.type === "text") {
                            input.setAttribute("data-lpignore", "true");
                        }
                    }

                    let button = document.getElementById("submit_button");
                    button.classList.add("disabled");

                    for (let elt of document.querySelectorAll(".required_if_enabled, :required")) {
                        let event = "change";
                        if (elt instanceof HTMLInputElement || elt instanceof HTMLTextAreaElement) {
                            event = "input";
                        }

                        elt.addEventListener(event, function() {
                            let all = Array.from(document.querySelectorAll(":required"));
                            button.classList.toggle("disabled", !all.every(elt => elt.checkValidity()));
                        });
                    }
                });

                window.addEventListener("load", function() {
                    {%- let this_word_id = self.this_word_id_js() -%}

                    addExamples(translations, {{ word.examples|json|safe }});
                    addLinkedWords(translations, {{ word.linked_words|json|safe }}, {{ this_word_id }});
                    partOfSpeechChange(); /* Refresh part of speech sections */
                    addDuplicateSearchFor(translations, "english", {{ this_word_id }});
                    addDuplicateSearchFor(translations, "xhosa", {{ this_word_id }});
                    setupSelectMultiple();

                    document.getElementById("part_of_speech").addEventListener("change", function() { partOfSpeechChange() });
                    document.getElementById("add_example").addEventListener("click", function() { addExample(translations) });
                    document.getElementById("add_linked_word").addEventListener("click", function() {
                        addLinkedWord(translations, {{ this_word_id }});
                    });
                    document.getElementById("submit_word").addEventListener("submit", function() {
                        for (let word of document.getElementsByClassName("word_select_search")) {
                            word.value = JSON.stringify({
                                id: word.getAttribute("data-selected_word_id"),
                                is_suggestion: word.getAttribute("data-selected_is_suggestion"),
                            });
                        }

                        if (!document.getElementById("noun_selected").selected) {
                            document.getElementById("is_plural").checked = false;
                            document.getElementById("noun_class").value = "";
                        }

                        if (!document.getElementById("verb_selected").selected) {
                            document.getElementById("infinitive").value = "";
                            document.getElementById("is_inchoative").checked = false;
                            document.getElementById("transitivity_unselected").checked = true;
                        }

                        if (!document.getElementById("conjunction_selected").selected) {
                            document.getElementById("followed_by").value = "";
                        }
                    });
                })
            </script>
        </main>
    </div>
</body>

</html>
