{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("terms-of-use") -%}
    {%- call macros::description("terms-of-use.description") -%}
    <meta name="og:url" content="https://{{ self.host() }}/terms_of_use"/>
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <article>
            <header><h1>{{ self.t("terms-of-use.tos") }}</h1></header>
            <em>{{ self.t("terms-of-use.last-update") }}</em>
            <p>{{ self.t("terms-of-use.age")|safe }}</p>
            <p>{{ self.t("terms-of-use.copyright")|safe }}</p>
            <p>{{ self.t("terms-of-use.confirm-ownership")|safe }}</p>
        </article>

        <article>
            <h1>{{ self.t("terms-of-use.privacy-policy") }}</h1>
                <section>
                    <h2>{{ self.t("terms-of-use.info-collected") }}</h2>
                    <p>{{ self.t("terms-of-use.info-collected-text")|safe }}</p>
                    <p>{{ self.t("terms-of-use.email-disclosure")|safe }}</p>
                    <p>{{ self.t("terms-of-use.crediting")|safe }}</p>
                    <p>{{ self.t("terms-of-use.forgo-crediting")|safe }}</p>
                    <p>{{ self.t("terms-of-use.agree-crediting")|safe }}</p>
                    <p>{{ self.t("terms-of-use.logging")|safe }}</p>
                </section>

                <section>
                    <h2>{{ self.t("terms-of-use.rights")|safe }}</h2>
                    <p>{{ self.t("terms-of-use.request-data")|safe }}</p>
                    <p>{{ self.t("terms-of-use.correct-data")|safe }}</p>
                    <p>{{ self.t("terms-of-use.delete-data")|safe }}</p>
                    <p>{{ self.t("terms-of-use.contact-us")|safe }}</p>
                </section>
        </article>
    </div>
</body>
</html>
