{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("wordle") -%}
    {%- call macros::description("wordle.description") -%}
    <meta name="og:url" content="https://{{ self.host() }}/wordle"/>
    {%- call macros::meta() -%}
    <link rel="stylesheet" href="/wordle.css"/>
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <div id="loading_spinner_container">
             <div id="loading_spinner"></div>
        </div>

        <script type="module">
            import init, { start_wordle } from '/wasm/isixhosa_wordle.js';

            const supported = (() => {
                try {
                    if (typeof WebAssembly === "object"
                        && typeof WebAssembly.instantiate === "function") {
                        const module = new WebAssembly.Module(Uint8Array.of(0x0, 0x61, 0x73, 0x6d, 0x01, 0x00, 0x00, 0x00));
                        if (module instanceof WebAssembly.Module)
                            return new WebAssembly.Instance(module) instanceof WebAssembly.Instance;
                    }
                } catch (e) {
                }
                return false;
            })();

            if (supported) {
                await (await init());
                start_wordle('{{ self.host() }}', '{{ self.i18n_info.user_language }}');
            } else {
                let msg = document.createElement("p");
                msg.innerText = '{{ self.t("js-required.wasm") }}';
                document.getElementById("main_wrap").appendChild(msg);
            }
        </script>

        <noscript>{{ self.t("js-required.both") }}</noscript>
    </div>
</body>
</html>
