{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>

<html lang="{{ self.lang() }}">
<head>
    {%- call macros::title("all-words") -%}
    {%- call macros::description("all-words.description") -%}
    <meta name="og:url" content="https://{{ self.host() }}/all-words"/>
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header id="main_header">
            <h1>{{ self.t("all-words") }}</h1>
        </header>

        <main>
            {{ all_words|safe }} {# We use a cached HTML string here for performance #}
        </main>
    </div>
</body>
</html>
