{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>{{ word.english }} - {{ word.xhosa }} - IsiXhosa.click</title>
    <meta name="og:title" content="{{ word.english }} - {{ word.xhosa }} - IsiXhosa.click"/>
    <meta name="og:url" content="https://isixhosa.click/word/{{- word.word_id -}}"/>
    <meta name="og:description" content="{{ word.to_plaintext() }}"/>
    <meta name="description" content="{{ word.to_plaintext() }}"/>
    <link rel="stylesheet" href="/details.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}

    <div id="main_wrap">
        <main>
            <article>
                <div>
                    <header id="word_header" class="row_list">
                        <h1>{{ word.english }} - <span lang="xh">{{ word.xhosa }}</span></h1>

                        <button id="share_word" hidden>
                            <span class="material-icons">share</span>
                        </button>

                        <a id="edit_word" title="Suggest edit" href="/word/{{ word.word_id }}/edit">
                            <span class="material-icons">edit</span>
                        </a>

                        <form action="/word/{{ word.word_id }}/delete" method="post" enctype="application/x-www-form-urlencoded"
                              onsubmit="return confirm('Are you sure you want to suggest this word be deleted?')"
                        >
                            <select name="method" hidden><option value="delete"></select>
                            <button title="Suggest deletion" type="submit">
                                <span class="material-icons">delete</span>
                            </button>
                        </form>
                    </header>

                    {%- match previous_success -%}
                        {%- when Some with (prev) -%}
                            <script>
                                /* HACK(restioson): stop F5 from resubmitting form */
                                if (window.history.replaceState) {
                                    window.history.replaceState(null, null, window.location.href);
                                }

                                /* HACK(restioson): move user back to /word/id */
                                history.replaceState(null, null, window.location.origin + "/word/{{ word.word_id }}");
                            </script>

                            <p>
                                Successfully

                                {%- match prev -%}
                                    {%- when WordChangeMethod::Edit %}
                                        suggested edit.
                                    {%- when WordChangeMethod::Delete %}
                                        suggested deletion.
                                {%- endmatch %}

                                It will be reviewed by moderators shortly, thank you!
                            <p>
                        {%- when None -%}
                    {%- endmatch -%}

                    <div class="column_list spaced_flex_list">
                        {# This div prevents the table from expanding to the width of the whole page #}
                        <div>
                            <table>
                                <caption>Word information</caption>

                                <tbody>
                                    {% match word.part_of_speech %}
                                        {%- when Some with (part_of_speech) -%}
                                            <tr>
                                                <th scope="row">Part of speech</th>
                                                <td>{{ part_of_speech }}</td>
                                            </tr>
                                        {%- when None -%}
                                    {%- endmatch -%}

                                    {%- if word.part_of_speech == Some(PartOfSpeech::Noun) || word.is_plural -%}
                                        <tr>
                                            <th scope="row">Plurality</th>
                                            <td>
                                                {%- if word.is_plural -%}
                                                    plural
                                                {%- else -%}
                                                    singular
                                                {%- endif -%}
                                            </td>
                                        </tr>
                                    {%- endif -%}

                                    {%- match word.noun_class -%}
                                        {%- when Some with (class) -%}
                                            <tr>
                                                <th scope="row">Noun class</th>
                                                <td>{{ class.to_html()|safe }}</td>
                                            </tr>
                                        {%- when None -%}
                                    {%- endmatch -%}

                                    {%- if !word.infinitive.is_empty() -%}
                                        <tr>
                                            <th scope="row">Infinitive</th>
                                            <td lang="xh">{{ word.infinitive }}</td>
                                        </tr>
                                    {%- endif -%}

                                    {%- if word.part_of_speech == Some(PartOfSpeech::Verb)  -%}
                                        <tr>
                                            <th scope="row" tabindex="0"
                                                 {#-#} data-descr="An inchoative (stative) verb takes the perfect tense
                                                 {#-#} for present tense meaning. For example, &quot;ndilambile&quot;
                                                 {#-#} means &quot;I am hungry&quot; whereas &quot;ndiyalamba&quot; means
                                                 {#-#} &quot;I am getting hungry&quot;."
                                            >
                                                Inchoative
                                            </th>
                                            <td>{%- if word.is_inchoative -%} yes {%- else -%} no {%- endif -%}</td>
                                        </tr>
                                    {%- endif -%}

                                    {%- match word.transitivity -%}
                                        {%- when Some with (transitivity) -%}
                                            <tr>
                                                <th scope="row" tabindex="0"
                                                    {#-#} data-descr="Whether the verb can take a direct object or not."
                                                >
                                                    Transitivity
                                                </th>
                                                <td>{{ transitivity.explicit_word_details_page() }}</td>
                                            </tr>
                                        {%- when None -%}
                                    {%- endmatch -%}

                                    {%- match word.followed_by -%}
                                        {%- when Some with (followed_by) -%}
                                            <tr>
                                                <th scope="row" tabindex="0"
                                                    {#-#} data-descr="The verbial mood or construction the conjunction
                                                    {#-#} is followed by."
                                                >
                                                    Followed by
                                                </th>
                                                <td>{{ followed_by.to_html()|safe }}</td>
                                            </tr>
                                        {%- when None -%}
                                    {%- endmatch -%}

                                    {%- if !word.xhosa_tone_markings.is_empty() -%}
                                        <tr>
                                            <th scope="row" tabindex="0"
                                                {#-#} data-descr="Xhosa with tone markings written out as diacritics."
                                            >
                                                Xhosa with tone markings
                                            </th>
                                            <td lang="xh">{{ word.xhosa_tone_markings }}</td>
                                        </tr>
                                    {%- endif -%}

                                    {%- if word.is_informal -%}
                                        <tr>
                                            <th scope="row">Informal or slang?</th>
                                            <td>
                                                {%- if word.is_informal -%} yes {%- else -%} no {%- endif -%}
                                            </td>
                                        </tr>
                                    {%- endif -%}

                                    {%- if !word.note.is_empty() -%}
                                        <tr>
                                            <th scope="row">Note</th>
                                            <td>{{ word.note }}</td>
                                        </tr>
                                    {%- endif -%}
                                </tbody>
                            </table>
                        </div>

                        {%- if !word.examples.is_empty() -%}
                            <div>
                                <h2 class="caption">Examples</h2>

                                <ul class="examples">
                                {%- for ex in word.examples -%}
                                    <li id="example-{{ ex.example_id }}">
                                        <h3>English</h3>
                                        <p>{{ ex.english }}</p>
                                        <h3>Xhosa</h3>
                                        <p lang="xh">{{ ex.xhosa }}</p>
                                    </li>
                                {%- endfor -%}
                                </ul>
                            </div>
                        {%- endif -%}

                        {%- if !word.linked_words.is_empty() -%}
                            <div>
                                <table>
                                    <caption>Linked words</caption>

                                    <thead>
                                        <tr>
                                            <th scope="col">Link type</th>
                                            <th scope="col">Other word</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {%- for link in word.linked_words -%}
                                            <tr id="link-{{ link.link_id }}">
                                                <td>{{ link.link_type.to_html()|safe }}</td>
                                                <td><a href="/word/{{ link.other.id }}">{{ link.other.to_html()|safe }}</a></td>
                                            </tr>
                                        {%- endfor -%}
                                    </tbody>
                                </table>
                            </div>
                        {%- endif -%}

                        {%- if !word.contributors.is_empty() -%}
                            <details>
                                <summary>Contributors</summary>
                                <ul id="contributors">
                                    {%- for contributor in word.contributors -%}
                                        <li>{{ contributor.to_html()|safe }}</li>
                                    {%- endfor -%}
                                </ul>
                            </details>
                        {%- endif -%}
                    </div>
                </div>
            </article>
        </main>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", function() {
            let share = document.getElementById("share_word");
            if (navigator.share || navigator.clipboard.writeText) {
                share.hidden = false;
            }

            document.getElementById("share_word").addEventListener("click", function() {
                let url = "https://isixhosa.click/word/{{ word.word_id }}";
                if (navigator.share) {
                    navigator.share({
                        title: "{{ word.english }} - {{ word.xhosa }} - IsiXhosa.click",
                        text: "{{ word.to_plaintext() }}",
                        url,
                    })
                    .then(() => console.log("Successful share"))
                    .catch((error) => console.log("Error sharing", error));
                } else if (navigator.clipboard.writeText) {
                    navigator.clipboard.writeText(url);
                    share.setAttribute("data-tooltip", "Link copied!");
                }
            });
        });
    </script>
</body>

</html>
