td:first-child, th:first-child {
    box-sizing: border-box;
    width: 8em;
    padding-right: 0.5em;
}

#word_header > form {
    align-self: center;
}

#word_header > form > button {
    padding: 0;
}

#word_header > a, #word_header > form > button {
    align-self: center;
    border: solid 1px lightgray;
    background: white;
    font-size: small;
    border-radius: 5px;
    margin-top: 4px;
    color: #080808;
    text-decoration: none;
}

#word_header > h1 {
    flex-grow: 1;
}

#word_header {
    gap: 1em;
}

h2.caption {
    margin: 0 0 0.5em;
}

/* Comma separated list */
ul#contributors {
    list-style: none;
    padding-left: 1em;
    margin-top: 0.5em;
}

ul#contributors li {
    display: inline;
}

ul#contributors li:not(:last-child):after {
    content: ", ";
}
