td:first-child, th:first-child {
    box-sizing: border-box;
    width: 10.625em;
}

#word_header > form {
    align-self: center;
}

#word_header > form > button {
    padding: 0;
}

#word_header > a, #word_header > form > button {
    align-self: center;
    border: solid 1px lightgray;
    background: white;
    font-size: small;
    border-radius: 5px;
    margin-top: 4px;
    color: #080808;
    text-decoration: none;
}

#word_header > h1 {
    flex-grow: 1;
}

#word_header {
    gap: 1em;
}

#examples > h3 {
    font-size: 1em;
    margin: 0;
}

#examples > p {
    margin: 0.5em 0;
}
