.suggested_word_text {
    margin: 0;
}

h3.suggested_word_text strong.noun_class_prefix {
    font-weight: bolder;
}

h3.suggested_word_text > a {
    text-decoration: none;
}

td:first-child, th:first-child {
    box-sizing: border-box;
    width: 8em;
    padding-right: 0.5em;
}

li::marker {
    font-size: 1.17em;
}

#suggestions > ul {
    margin: 0;
}

#suggestions > ul > li {
    margin-bottom: 1em;
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}
