.suggested_word_text {
    white-space: nowrap;
    margin: 0;
}

h3.suggested_word_text > * > strong.noun_class_prefix {
    font-weight: bolder;
}

h3.suggested_word_text > strong.noun_class_prefix {
    font-weight: bolder;
}

td:first-child, th:first-child {
    box-sizing: border-box;
    width: 10.625em;
}

li::marker {
    font-size: 1.17em;
}

#suggestions > ol > li {
    margin-bottom: 1em;
}