.suggested_word_text {
    margin: 0;
}

h3.suggested_word_text strong.noun_class_prefix {
    font-weight: bolder;
}

a {
    text-decoration: none; /* interferes with <ins> */
}

td:first-child, th:first-child {
    box-sizing: border-box;
    width: 8em;
    padding-right: 0.5em;
}

li::marker {
    font-size: 1.17em;
}

#suggestions > ul {
    margin: 0;
}

#suggestions > ul > li {
    margin-bottom: 1em;
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}

#confirm {
    position: fixed;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#confirm.open {
    visibility: visible;
    opacity: 1;
    background-color: rgba(211, 211, 211, 0.5);
    pointer-events: auto;
}

#confirm > div {
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    padding: 2em;
    text-align: center;
}

#confirm_buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

#confirm_buttons > button {
    width: 3rem;
}