body {
    background-color: white;
    color: #080808;
    font-family: "Open Sans", sans-serif;
}

input {
    font-family: "Open Sans", sans-serif;
    border-radius: 3px;
    border: solid 1px lightgray;
    padding: 5px 5px;
}

select {
    font-family: "Open Sans", sans-serif;
}

.column_list {
    display: flex;
    flex-direction: column;
}

.row_list {
    display: flex;
    flex-direction: row;
}

.spaced_flex_list {
    gap: 1.25em;
}

strong.noun_class_prefix {
    font-weight: bold;
}

th {
    text-align: left;
}

tr > * + * {
    padding-left: 2em;
}

caption, .virtual_caption {
    text-align: left;
    font-size: large;
    font-weight: bold;
}
