body {
    background-color: powderblue;
}

.column_list {
    display: flex;
    flex-direction: column;
}

.row_list {
    display: flex;
    flex-direction: row;
}

.spaced_list {
    gap: 1.25em;
}

strong.noun_class_prefix {
    font-weight: bold;
}

/* Padding between table cells */
tr > * + * {
    padding-left: 2em;
}

body {
    color: #080808;
    font-family: "Open Sans", sans-serif;
}
