body {
    background-color: white;
    color: #080808;
    font-family: "Open Sans", sans-serif;
}

input {
    font-family: "Open Sans", sans-serif;
    border-radius: 3px;
    border: solid 1px lightgray;
    padding: 5px 5px;
}

select {
    font-family: "Open Sans", sans-serif;
}

.column_list {
    display: flex;
    flex-direction: column;
}

.row_list {
    display: flex;
    flex-direction: row;
}

.spaced_flex_list {
    gap: 1.25em;
}

strong.noun_class_prefix {
    font-weight: 600; /* Semibold */
}

th {
    text-align: left;
}

tr > * + * {
    padding-left: 2em;
}

caption {
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background: #282828;
    width: 100%;
}

.menu > *, .site_name {
    color: white;
    text-decoration: none;
}

.site_icon {
    padding: 0.25rem;
    box-sizing: border-box;
}

.site_name, .site_icon {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.menu > * {
    padding: 0.75rem;
}

.site_icon > img {
    max-width: calc(0.75rem * 2 + 1rem);
    height: auto;
}

.menu > .site_name_container {
    padding: 0;
}

.site_name_container {
    display: inline-flex;
    align-items: center;
}

.site_name {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

#hamburger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    border: none;
    display: none;
    min-width: 0;
    background: #282828;
}

#hamburger:hover {
    background: #484848;
}

#hamburger > span {
    color: white;
}

.menu > a:hover, .site_icon:hover {
    background: #484848;
}

.after_nav {
    margin-top: 3.7rem;
}

.site_icon {
    max-width: 2rem;
    height: auto;
    margin-top: -0.1rem;
}

@media screen and (max-width: 800px) {
    .after_nav {
        margin-top: 4.7rem;
    }

    .menu {
        flex-direction: column;
    }

    .menu > a {
        display: none;
    }

    .menu.open > a {
        display: inline;
    }

    #hamburger {
        display: inline;
    }
}
