.select_popover {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
    background: powderblue;
    width: 350px;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.select_popover:empty {
    border: none;
}

.select_popover_container {
    z-index: 1;
    position: relative;
}

.word_select_container {
    display: flex;
    width: 350px;
    flex-direction: column;
}

.word_select_search {
    flex-grow: 1;
}

li.select_list_option {
    margin: 0;
    padding: 0;
    font-size: 0; /* HACK(restioson): get rid of small space in between elements due to "linebreaks" in HTML (???) */
}

button.select_list_option:active {
    border: solid 1px grey;
}

button.select_list_option {
    border: solid 1px grey;
    width: 100%;
    padding: 0;
    margin: 0;
}

.table {
    display: table;
}

.table > div {
    display: table-row;
}

.table > div > input {
    display: table-cell;
}

.table > div > label {
    display: table-cell;
}
