{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>404 - IsiXhosa.click</title>
    <meta name="og:title" content="404 - IsiXhosa.click"/>
    <meta name="og:description" content="Content not found">
    <meta name="og:url" content="https://isixhosa.click/"/>
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header><h1>404 - Page not found</h1></header>

        <main>
            <p>This page was not found. Sorry!</p>
        </main>
    </div>
</body>
</html>
