{%- import "macros.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA" xmlns="http://www.w3.org/1999/html">
<head>
    <title>About - IsiXhosa.click</title>
    <meta name="og:title" content="About - IsiXhosa.click"/>
    <meta name="og:url" content="https://isixhosa.click/about"/>
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header><h1>About</h1></header>
        <main>
            <article>
                <h2>Aim</h2>
                <p>IsiXhosa.click is an online live dictionary for Xhosa and English. The project aims to create a free,
                    open-source, and easily usable dictionary for learners of isiXhosa.<p>

                <h2>Usage</h2>
                <p>To search for a word, start typing either the English or the Xhosa word in the search bar to show
                    live search results. You can click on a word to find more information about the word, such as
                    examples and related words.
                </p>

                <h2>Submitting Edits</h2>
                <p>If you'd like to help the project, submitting new words and editing old ones would be greatly appreciated!
                    To submit a new word, go to the <a href="/submit">Submit A Word</a> tab and then enter all the
                    information about the word. To edit a word, find the word, go to its details page, and click on the edit
                    button. These suggestions will then be reviewed by moderators and eventually accepted or rejected.
                </p>

                <p>Please note that all contributions to the dictionary must be either your own, or reproduced with permission
                    of the copyright holder under the CC BY-SA 3.0 (unported) license.</p>

                <h2>License</h2>
                <p>The database of IsiXhosa.click is licensed under the
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/">
                        Creative Commons 3.0 Attribution ShareAlike (unported) License
                    </a>. This ensures that the information of the dictionary is freely usable by all, as long as appropriate
                    credit is given, and edits are also released under this license.
                </p>

                <p>
                    Specifically, it means that you are free to
                <ul>
                    <li>copy,</li>
                    <li>reuse,</li>
                    <li>edit,</li>
                    <li>and build upon</li>
                </ul>
                the information from the dictionary, so long as you
                <ul>
                    <li>give credit (for instance by providing a link)</li>
                    <li>indicate if changes have been made</li>
                    <li>distribute the edited version under the CC BY-SA (unported) license</li>
                </ul>.
                </p>

                <h2>Contact</h2>
                <address>Please direct any queries to <a href="mailto:restiosondev@gmail.com">restiosondev@gmail.com</a>.</address>
            </article>
        </main>
    </div>
</body>
</html>
