{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA" xmlns="http://www.w3.org/1999/html">
<head>
    <title>About - IsiXhosa.click</title>
    <meta name="og:title" content="About - IsiXhosa.click"/>
    {%- call macros::description("IsiXhosa.click is a free, open, online dictionary for Xhosa and English.") -%}
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}
    <div id="main_wrap">
        <header><h1>About</h1></header>
        <main>
            <article>
                <h2 id="aim">Aim</h2>
                <p>IsiXhosa.click is an online dictionary for Xhosa and English. The project aims to create a free,
                    open-source, and easily usable dictionary for learners of isiXhosa.<p>

                <h2 id="usage">Usage</h2>
                <p>To search for a word, start typing either the English or the Xhosa word in the search bar to show
                    live search results. You can click on a word to find more information about the word, such as
                    examples and related words. The dictionary currently has <strong>{{ word_count }} entries.</strong>
                    You can also download the words as an <a href="https://ankiweb.net/shared/info/1123338173">Anki
                    flashcard deck.</a>
                </p>

                <h2 id="submitting-edits">Submitting edits</h2>
                <p>If you'd like to help the project, submitting new words and editing old ones would be greatly appreciated!
                    First, you will need to create an account with the site. To do so, click the <a href="/login/oauth2/authorization/oidc">
                    Log in with Google</a> button in the top right. From your Google account, IsiXhosa.click will only
                    record your email, in order for the team to email you about any issues regarding your account or
                    the site, and your Google OpenID Connect ID, to identify you when you log in.
                </p>

                <p>Once you have done this, to submit a new word, go to the <a href="/submit">Submit a word</a> tab and
                    then enter all the information about the word. To edit a word, find the word, go to its details page,
                    and click on the edit button. These suggestions will then be reviewed by moderators and eventually
                    accepted or rejected.
                </p>

                <p>Please note that all contributions to the dictionary must be either your own, or reproduced with permission
                    of the copyright holder under the CC BY-SA 4.0 license.</p>

                <h2 id="terms-of-use">Terms of use and privacy policy</h2>
                <p>The terms of use and privacy policy of IsiXhosa.click are currently available
                    <a href="/terms_of_use">here.</a>
                </p>

                <h2 id="license">License</h2>
                <em>This section is a simple explanation of the license terms of IsiXhosa.click and in no way should be
                considered as legal advice. Please check the licenses linked below for the full terms and conditions.</em>

                <p>The database of IsiXhosa.click is licensed under the
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/">
                        Creative Commons 4.0 Attribution ShareAlike License</a>. This ensures that the information of
                    the dictionary is freely usable by all, as long as appropriate credit is given, and edits are also
                    released under this license. Similarly, the software is licensed under the
                    <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License Version 3</a>.
                </p>

                <p>In simple terms, it means that you are free to</p>
                    <ul>
                        <li>copy</li>
                        <li>reuse</li>
                        <li>redistribute</li>
                        <li>edit</li>
                        <li>and build upon</li>
                    </ul>
                    the information and software of the dictionary, so long as you
                    <ul>
                        <li>give credit (for instance by providing a link)</li>
                        <li>indicate if changes have been made</li>
                        <li>distribute the edited version under the CC BY-SA 4.0 license</li>
                    </ul>

                <p>The source code is available from its <a href="https://github.com/IsiXhosa-click/isixhosa_click/">GitHub
                repository</a>, and the database of words, examples, and linked words is
                <a href="https://github.com/IsiXhosa-click/database/">available on GitHub.</a>
                </p>

                <h2 id="contact">Contact</h2>
                <address>Please direct any queries to <a href="mailto:restiosondev@gmail.com">restiosondev@gmail.com</a>.</address>
            </article>
        </main>
    </div>
</body>
</html>
