{%- import "macros.html" as macros -%}
{%- import "search_box.html" as searchbox -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>Home - IsiXhosa.xyz</title>
    <meta name="og:title" content="Home - IsiXhosa.xyz"/>
    <meta name="og:url" content="https://isixhosa.xyz/"/>
    <link rel="stylesheet" href="/search.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}

    <main>
        {%- call searchbox::searchbox("") -%}

        <div class="search_container">
            <h2 class="after_nav">Search for a word:</h2>

            <div id="searchbox"></div>
            <div id="hits"></div>
        </div>
    </main>
</body>

</html>