{%- macro navbar() -%}
    <nav class="menu" id="menu">
        <a href="/"><img src="/icons/ms-icon-310x310.png" alt="Site icon" class="site_icon"></a>
        <p class="site_name">IsiXhosa.xyz Live Dictionary</p>
        <button id="hamburger">
            <span class="material-icons">menu</span>
        </button>

        <a href="/search">Search</a>
        <a href="/about/">About</a>
        <a href="/submit/">Submit a Word</a>
        <a href="/accept/">Moderation</a>
    </nav>

    <script type="module">
        window.addEventListener("DOMContentLoaded", function() {
            document.getElementById("hamburger").addEventListener("click", function () {
                let menu = document.getElementById("menu");

                if (menu.classList.contains("open")) {
                    menu.classList.remove("open");
                } else {
                    menu.classList.add("open");
                }
            })
        });
    </script>
{%- endmacro -%}

{%- macro meta() -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="og:type" content="website"/>
    <meta name="og:site_name" content="IsiXhosa.xyz"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
{%- endmacro -%}

{%- macro noun_class(is_plural, noun_class) -%}
    {%- match noun_class -%}
        {%- when Some with (class) %}
            - class {% call noun_class_prefix(is_plural, class) %}
        {%- when None -%}
    {%- endmatch -%}
{%- endmacro -%}

{%- macro noun_class_prefix(is_plural, class) -%}
    {%- let prefixes = class.to_prefixes() -%}

    {%- match prefixes.plural -%}
        {%- when Some with (plural) -%}
            {%- if is_plural.clone().clone().clone() -%} {# The wtf-clones :) #}
                {{ prefixes.singular }}/<strong class="noun_class_prefix">{{ plural }}</strong>
            {%- else -%}
                <strong class="noun_class_prefix">{{ prefixes.singular }}</strong>/{{ plural }}
            {%- endif -%}
        {%- when None -%}
            <strong class="noun_class_prefix">{{ prefixes.singular }}</strong>
    {%- endmatch -%}
{%- endmacro -%}

{# HACK(restioson): Can't get it working without manual whitespace here :/ #}
{% macro plural(plural) %}{% if plural.clone() %}{{ "plural " }}{% endif %}{% endmacro %}

{%- macro format_result(word) -%}
    {{- word.english }} - {{ word.xhosa }}
    ({% call plural(word.is_plural) %}{{ word.part_of_speech }}{% call noun_class(word.is_plural, word.noun_class) %})
{%- endmacro -%}
