{%- macro noun_class(noun_class) -%}
    {%- match noun_class -%}
        {%- when Some with (class) %}
            - class {{ class }}
        {%- when None -%}
    {%- endmatch -%}
{%- endmacro -%}

{# HACK(restioson): Can't get it working without manual whitespace here :/ #}
{% macro plural(plural) %}{% if plural.clone() %}{{ "plural " }}{% endif %}{% endmacro %}

{%- macro format_result(word) -%}
    {{- word.english }} - {{ word.xhosa }}
    ({% call plural(word.is_plural) %}{{ word.part_of_speech }}{% call noun_class(word.noun_class) %})
{%- endmacro -%}
