{%- macro navbar() -%}
    <nav class="menu" id="menu">
        <div id="site_name_container">
            <div id="site_icon"><img src="/icons/ms-icon-310x310.png" alt="Site icon"></div>
            <span id="site_name">IsiXhosa.click Live Dictionary</span>
        </div>
        <button id="hamburger">
            <span class="material-icons">menu</span>
        </button>

        <a href="/search">Search</a>
        <a href="/about">About</a>
        <a href="/submit">Submit a word</a>
        {%- if auth.has_permissions(crate::auth::Permissions::Moderator) -%}
            <a href="/moderation">Moderation</a>
        {%- endif -%}

        {%- if auth.has_permissions(crate::auth::Permissions::Administrator) -%}
            <a href="/admin/jaeger">Tracing</a>
        {%-endif -%}

        {%- match auth.username() -%}
            {%- when None -%}
                <div id="login_bar_container">
                    <div>
                        <a href="/login/oauth2/authorization/oidc">
                            <div id="login_bar" class="row_list not_signed_in">
                                <img id="login_icon" src="/google.svg">
                                <div id="login_bar_text">Sign in with Google</div>
                            </div>
                        </a>
                    </div>
                </div>
            {%- when Some with (username) -%}
                <div id="login_bar_container">
                    <div>
                        <div>
                            <button id="login_bar" class="row_list">
                                <div class="material-icons" id="user_icon">account_circle</div>
                                <div id="login_bar_text">{{- username -}}</div>
                            </button>

                            <div id="login_popover_container">
                                <div id="login_popover" hidden>
                                    <a href="/logout/">
                                        <div class="material-icons login_popover_icon">logout</div>
                                        <div class="login_popover_text">Log out</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {%- endmatch -%}
    </nav>

    <script type="module">
        window.addEventListener("DOMContentLoaded", function() {
            document.getElementById("hamburger").addEventListener("click", function () {
                let menu = document.getElementById("menu");

                if (menu.classList.contains("open")) {
                    menu.classList.remove("open");
                } else {
                    menu.classList.add("open");
                }
            });

            document.getElementById("login_bar").addEventListener("click", function () {
                let menu = document.getElementById("login_popover");
                menu.hidden = !menu.hidden;
            });

            document.getElementById("main_wrap").addEventListener("click", function () {
                document.getElementById("menu").classList.remove("open");
            });
        });
    </script>
{%- endmacro -%}

{%- macro meta() -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="og:type" content="website"/>
    <meta name="og:site_name" content="IsiXhosa.click"/>
    <meta name="og:logo" content="https://isixhosa.click/icons/ms-icon-310x310.png"/>
    <meta name="og:image" content="https://isixhosa.click/icons/ms-icon-310x310.png"/>
    <link rel="stylesheet" href="/style.css?v=11">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
{%- endmacro -%}

{%- macro description(desc) -%}
    <meta name="og:description" content="{{ desc }}"/>
    <meta name="description" content="{{ desc }}"/>
{%- endmacro -%}
