{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>Moderation - IsiXhosa.click</title>
    <meta name="og:title" content="Moderation - IsiXhosa.click"/>
    <meta name="og:url" content="https://isixhosa.click/moderation"/>
    <link rel="stylesheet" href="/moderation.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}

    <div id="main_wrap">
        <header>
            <h1>Suggestions</h1>
        </header>

        <main>
            {%- match previous_success -%}
                {%- when Some with (prev) -%}
                    <p>
                        {%- if prev.success -%}
                            Success

                            {%- match prev.method -%}
                                {%- when Some with (method) -%}
                                    {%- match method -%}
                                        {%- when Method::Accept -%}
                                            fully accepted suggestion.
                                        {%- when Method::Edit -%}
                                            fully edited suggestion.
                                        {%- when Method::Reject -%}
                                            fully rejected suggestion.
                                    {%- endmatch -%}
                                {%- when None -%}
                                    .
                            {%- endmatch -%}
                        {%- else -%}
                            An error occurred

                            {%- match prev.method -%}
                                {%- when Some with (method) -%}
                                    {%- match method -%}
                                        {%- when Method::Accept %}
                                            while accepting a suggestion.
                                        {%- when Method::Edit %}
                                            while editing a suggestion.
                                        {%- when Method::Reject %}
                                            while rejecting a suggestion.
                                    {%- endmatch -%}
                                {%- when None -%}
                                    .
                            {%- endmatch -%}
                        {%- endif -%}
                    </p>
                {%- when None -%}
            {%- endmatch -%}

            {%- match previous_success -%}
                {%- when Some with (prev) -%}
                    {%- if prev.success -%}
                        <script>
                            // HACK(restioson): stop F5 from resubmitting form
                            if (window.history.replaceState) {
                                window.history.replaceState(null, null, window.location.href);
                            }

                            // HACK(restioson): move user back to /moderation
                            history.replaceState(null, null, window.location.origin + "/moderation");
                        </script>
                    {%- endif -%}
                {% when other -%}
            {%- endmatch -%}

            {%- macro action(method, label, suggestion_type, suggestion_id, prompt) -%}
                <form action="/moderation" method="post" enctype="application/x-www-form-urlencoded"
                      {%- if (method != "edit") -%}
                        onsubmit="return confirm('{{ prompt }}')"
                      {%- endif -%}
                >
                    <select name="suggestion_type" hidden><option value="{{ suggestion_type }}"></select>
                    <select name="suggestion" hidden><option value="{{ suggestion_id }}"></select>
                    <select name="method" hidden><option value="{{ method }}"></select>
                    <button type="submit">{{ label }}</button>
                </form>
            {%- endmacro -%}

            {%- macro word_suggestion_action(method, label) -%}
                {%- call action(
                    method,
                    label,
                    "word",
                    s.suggestion_id,
                    "Are you sure you want to {} this suggestion?"|format(method)
                ) -%}
            {%- endmacro -%}

            {%- macro word_deletion_action(is_accept, label) -%}
                {%- let prompt -%}
                {%- let method -%}

                {%- if is_accept -%}
                    {%- let prompt = "Are you sure you want to permanently delete this word?" -%}
                    {%- let method = "accept" -%}
                {%- else -%}
                    {%- let prompt = "Are you sure you want to reject this suggestion?" -%}
                    {%- let method = "reject" -%}
                {%- endif -%}

                {%- call action(
                    method,
                    label,
                    "word_deletion",
                    s.suggestion_id,
                    prompt
                ) -%}
            {%- endmacro -%}

            {%- macro example_suggestion_action(method, label) -%}
                {%- call action(
                    method,
                    label,
                    "example",
                    ex.suggestion_id,
                    "Are you sure you want to {} this suggestion?"|format(method)
                ) -%}
            {%- endmacro -%}

            {%- macro example_deletion_action(is_accept, label) -%}
                {%- let prompt -%}
                {%- let method -%}

                {%- if is_accept -%}
                    {%- let prompt = "Are you sure you want to permanently delete this example?" -%}
                    {%- let method = "accept" -%}
                {%- else -%}
                    {%- let prompt = "Are you sure you want to reject this suggestion?" -%}
                    {%- let method = "reject" -%}
                {%- endif -%}

                {%- call action(
                    method,
                    label,
                    "example_deletion",
                    del.suggestion_id,
                    prompt
                ) -%}
            {%- endmacro -%}

            {%- macro linked_word_suggestion_action(method, label) -%}
                {%- call action(
                    method,
                    label,
                    "linked_word",
                    l.suggestion_id,
                    "Are you sure you want to {} this suggestion?"|format(method)
                ) -%}
            {%- endmacro -%}

            {%- macro linked_word_deletion_suggestion_action(is_accept, label) -%}
                {%- let prompt -%}
                {%- let method -%}

                {%- if is_accept -%}
                    {%- let prompt = "Are you sure you want to permanently delete this linked word?" -%}
                    {%- let method = "accept" -%}
                {%- else -%}
                    {%- let prompt = "Are you sure you want to reject this suggestion?" -%}
                    {%- let method = "reject" -%}
                {%- endif -%}

                {%- call action(
                    method,
                    label,
                    "linked_word_deletion",
                    del.suggestion_id,
                    prompt
                ) -%}
            {%- endmacro -%}

            <div id="suggestions">
                {%- if !word_suggestions.is_empty() -%}
                    <h2>Suggested words</h2>
                {%- endif -%}
                <ul>
                    {%- for s in word_suggestions -%}
                        <li>
                            <article class="column_list spaced_flex_list">
                                <header>
                                   <h3 class="suggested_word_text">
                                        {%- match s.word_id -%}
                                            {%- when Some with (id) -%}
                                                <a href="/word/{{ id }}">
                                            {%- when None -%}
                                        {%- endmatch -%}

                                        {{- s.to_html()|safe -}}

                                        {%- if s.word_id.is_some() -%}
                                            </a>
                                        {%- endif -%}
                                    </h3>
                                </header>

                                {# This div prevents the table from expanding to the width of the whole page #}
                                <div>
                                    <table>
                                        <caption>Details</caption>

                                        <tr>
                                            <th scope="row">Change type</th>
                                            <td>
                                                {%- if s.word_id.is_none() -%}
                                                    Word added
                                                {%- else -%}
                                                    Word edited
                                                {%- endif -%}
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Changes summary</th>
                                            <td>{{ s.changes_summary }}</td>
                                        </tr>

                                        {%- if !s.xhosa_tone_markings.is_empty_str() -%}
                                            <tr>
                                                <th scope="row">Xhosa with tone markings</th>
                                                <td>{{ s.xhosa_tone_markings.to_html()|safe }}</td>
                                            </tr>
                                        {%- endif -%}

                                        {%- if !s.noun_class.is_none() -%}
                                            <tr>
                                                <th scope="row">Selected noun class</th>
                                                <td>{{ s.noun_class.map_debug().to_html()|safe }}</td>
                                            </tr>
                                        {%- endif -%}

                                        {%- if !s.infinitive.is_empty_str() -%}
                                            <tr>
                                                <th scope="row">Infinitive form</th>
                                                <td>{{ s.infinitive.to_html()|safe }}</td>
                                            </tr>
                                        {%- endif -%}

                                        {%- if !s.followed_by.is_none() -%}
                                            <tr>
                                                <th scope="row">Followed by</th>
                                                <td>{{ s.followed_by.map_or_default().to_html()|safe }}</td>
                                            </tr>
                                        {%- endif -%}

                                        {%- if !s.note.is_empty_str() -%}
                                            <tr>
                                                <th scope="row">Note</th>
                                                <td>{{ s.note.to_html()|safe }}</td>
                                            </tr>
                                        {%- endif -%}
                                    </table>
                                </div>

                                {%- if !s.examples.is_empty() -%}
                                    <div>
                                        <h2 class="caption">Examples</h2>

                                        <ul class="examples">
                                            {%- for ex in s.examples -%}
                                                <li>
                                                    <h3>English</h3>
                                                    <p>{{ ex.english.to_html()|safe }}</p>
                                                    <h3>Xhosa</h3>
                                                     <p>{{ ex.xhosa.to_html()|safe }}</p>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- endif -%}

                                {%- if !s.linked_words.is_empty() -%}
                                    <div>
                                        <table>
                                            <caption>Linked words</caption>

                                            <thead>
                                                <tr>
                                                    <th scope="col">Link type</th>
                                                    <th scope="col">Other word</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {%- for l in s.linked_words -%}
                                                    <tr>
                                                        <td>{{ l.link_type.to_html()|safe }}</td>
                                                        <td>{{ l.other(s.this_id()).to_html()|safe }}</td>
                                                    </tr>
                                                {%- endfor -%}
                                            </tbody>
                                        </table>
                                    </div>
                                {%- endif -%}

                                <div class="row_list spaced_flex_list">
                                    {%- call word_suggestion_action("edit", "Edit") -%}
                                    {%- call word_suggestion_action("accept", "Accept") -%}
                                    {%- call word_suggestion_action("reject", "Reject") -%}
                                </div>
                            </article>
                        </li>
                    {%- endfor -%}
                </ul>

                {%- if !word_deletions.is_empty() -%}
                    <h2>Deletion suggestions</h2>
                {%- endif -%}
                <ul>
                    {%- for s in word_deletions -%}
                        <li>
                            <article class="column_list spaced_flex_list">
                                <header>
                                    <del>
                                        <h3 class="suggested_word_text">
                                            <a href="/word/{{ s.word.id }}">
                                                {{ s.word.to_html()|safe }}
                                            </a>
                                        </h3>
                                    </del>
                                </header>

                                <div>
                                    <table>
                                        <caption>Details</caption>
                                        <tr>
                                            <th scope="row">Change type</th>
                                            <td>Word deleted</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Reason</th>
                                            <td>{{ s.reason }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="row_list spaced_flex_list">
                                    {%- call word_deletion_action(true, "Accept deletion") -%}
                                    {%- call word_deletion_action(false, "Reject deletion") -%}
                                </div>
                            </article>
                        </li>
                    {%- endfor -%}
                </ul>

                {%- if !word_associated_edits.is_empty() -%}
                    <h2>Edited examples and linked words</h2>
                {%- endif -%}
                <ul>
                    {%- for (word, assoc) in word_associated_edits -%}
                        <li>
                            <article class="column_list">
                                <header>
                                    <h3 class="suggested_word_text">
                                        <a href="/word/{{ word.id }}">
                                            {{ word.to_html()|safe }}
                                        </a>
                                    </h3>
                                </header>

                                {%- if !assoc.examples_is_empty() -%}
                                    <div>
                                        <h2 class="caption">Examples</h2>

                                        <ul class="examples">
                                            {%- for ex in assoc.example_suggestions -%}
                                                <li>
                                                    <h3>English</h3>
                                                    <p>{{ ex.english.to_html()|safe }}</p>
                                                    <h3>Xhosa</h3>
                                                     <p>{{ ex.xhosa.to_html()|safe }}</p>

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call example_suggestion_action("accept", "Accept") -%}
                                                        {%- call example_suggestion_action("reject", "Reject") -%}
                                                    </div>
                                                </li>
                                            {%- endfor -%}

                                            {%- for del in assoc.example_deletion_suggestions -%}
                                                <li>
                                                    <h3><del>English</del></h3>
                                                    <p><del>{{ del.example.english }}</del></p>
                                                    <h3><del>Xhosa</del></h3>
                                                    <p><del>{{ del.example.xhosa }}</del></p>

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call example_deletion_action(true, "Accept deletion") -%}
                                                        {%- call example_deletion_action(false, "Reject deletion") -%}
                                                    </div>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- endif -%}

                                {%- if !assoc.linked_words_is_empty() -%}
                                    <div>
                                        <h2 class="caption">Linked words</h2>

                                        <ul>
                                            {%- for l in assoc.linked_word_suggestions -%}
                                                <li>
                                                    {{- l.other(WordId(word.id.clone()).into()).to_html()|safe }}
                                                    - {{ l.link_type.to_html()|safe -}}

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call linked_word_suggestion_action("accept", "Accept") -%}
                                                        {%- call linked_word_suggestion_action("reject", "Reject") -%}
                                                    </div>
                                                </li>
                                            {%- endfor -%}

                                            {%- for del in assoc.linked_word_deletion_suggestions -%}
                                                <li>
                                                    <del>
                                                        {{ del.link.other.to_html()|safe }} -
                                                        {{ del.link.link_type.to_html()|safe -}}
                                                    </del>

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call linked_word_deletion_suggestion_action(true, "Accept deletion") -%}
                                                        {%- call linked_word_deletion_suggestion_action(false, "Reject deletion") -%}
                                                    </div>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- endif -%}
                            </article>
                        </li>
                    {%- endfor -%}
                </ul>

                {%- if self.is_empty() -%}
                    <p>There are no suggestions to review at this time.<p>
                {%- endif -%}
            </div>
        </main>
    </div>
</body>

</html>