{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>Moderation - IsiXhosa.click</title>
    <meta name="og:title" content="Moderation - IsiXhosa.click"/>
    <meta name="og:url" content="https://isixhosa.click/moderation"/>
    <link rel="stylesheet" href="/moderation.css">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}

    <div id="main_wrap">
        <header>
            <h1>Suggestions</h1>
        </header>

        <main>
            {%- match previous_success -%}
                {%- when Some with (prev) -%}
                    <p>
                        {%- if prev.success -%}
                            Success

                            {%- match prev.method -%}
                                {%- when Some with (method) -%}
                                    {%- match method -%}
                                        {%- when Method::Accept -%}
                                            fully accepted suggestion.
                                        {%- when Method::Edit -%}
                                            fully edited suggestion.
                                        {%- when Method::Reject -%}
                                            fully rejected suggestion.
                                    {%- endmatch -%}
                                {%- when None -%}
                                    .
                            {%- endmatch -%}
                        {%- else -%}
                            An error occurred

                            {%- match prev.method -%}
                                {%- when Some with (method) -%}
                                    {%- match method -%}
                                        {%- when Method::Accept %}
                                            while accepting a suggestion.
                                        {%- when Method::Edit %}
                                            while editing a suggestion.
                                        {%- when Method::Reject %}
                                            while rejecting a suggestion.
                                    {%- endmatch -%}
                                {%- when None -%}
                                    .
                            {%- endmatch -%}
                        {%- endif -%}
                    </p>
                {%- when None -%}
            {%- endmatch -%}

            {%- match previous_success -%}
                {%- when Some with (prev) -%}
                    {%- if prev.success -%}
                        <script>
                            // HACK(restioson): stop F5 from resubmitting form
                            if (window.history.replaceState) {
                                window.history.replaceState(null, null, window.location.href);
                            }

                            // HACK(restioson): move user back to /moderation
                            history.replaceState(null, null, window.location.origin + "/moderation");
                        </script>
                    {%- endif -%}
                {% when other -%}
            {%- endmatch -%}

            {%- macro maybe_edited(maybe_edited) -%}
                {%- match maybe_edited -%}
                    {%- when MaybeEdited::New with (val) -%}
                        <ins>{{ val }}</ins>

                    {%- when MaybeEdited::Old with (val) -%}
                        {{ val }}

                    {%- when MaybeEdited::Edited with { old, new } -%}
                        {%- if !format!("{}", new).is_empty() -%}
                            <ins>{{ new }}</ins> <del>{{ old }}</del>
                        {%- else -%}
                            <ins><strong>[Removed]</strong></ins> <del>{{ old }}</del>
                        {%- endif -%}
                {%- endmatch -%}
            {%- endmacro -%}

            {%- macro noun_class_edited(is_plural, noun_class) -%}
                {%- match noun_class -%}
                    {%- when MaybeEdited::New with (class) -%}
                        <ins>{%- call macros::noun_class(is_plural.current(), class, false) -%}</ins>
                    {%- when MaybeEdited::Old with (class) -%}
                        {%- match is_plural -%}
                            {%- when MaybeEdited::New with (is_plural) -%}
                                {%- call macros::noun_class(is_plural, class, false) -%}
                            {%- when MaybeEdited::Old with (is_plural) -%}
                                {%- call macros::noun_class(is_plural, class, false) -%}
                            {%- when MaybeEdited::Edited with { old: old_is_plural, new: new_is_plural } -%}
                                <ins>{%- call macros::noun_class(new_is_plural, class, false) -%}</ins>
                                {#- remove linebreak -#}<del>{%- call macros::noun_class(old_is_plural, class, false) -%}</del>
                        {%- endmatch -%}
                    {%- when MaybeEdited::Edited with { old, new } -%}
                        <ins>
                            {%- if new.is_none() -%}
                                <strong>[Removed]</strong>
                            {%- else -%}
                                {%- call macros::noun_class(is_plural.current(), new, false) -%}
                            {%- endif -%}
                        </ins>
                        <del>{%- call macros::noun_class(is_plural.old(), old, false) -%}</del>
                {%- endmatch -%}
            {%- endmacro -%}

            {%- macro plural_edited(plural) -%}
                {%- match plural -%}
                    {%- when MaybeEdited::New with (p) -%}
                        <ins>{%- call macros::plural(p) -%}</ins>
                    {%- when MaybeEdited::Old with (p) -%}
                        {%- call macros::plural(p) -%}
                    {%- when MaybeEdited::Edited with { old: old_is_plural, new: new_is_plural } -%}
                        <ins>
                            {%- if old_is_plural -%}
                                plural
                            {%- else -%}
                                [singular]
                            {%- endif -%}
                        </ins>
                        <del>
                            {%- if new_is_plural %}
                                plural
                            {%- else %}
                                [singular]
                            {%- endif -%}
                        </del>
                {%- endmatch -%}
            {%- endmacro -%}

            {%- macro result_edited(res) -%}
                {%- match res -%}
                    {%- when MaybeEdited::New with (w) -%}
                        <ins>{%- call macros::format_result_html(w) -%}</ins>
                    {%- when MaybeEdited::Old with (w) -%}
                        {%- call macros::format_result_html(w) -%}
                    {%- when MaybeEdited::Edited with { old, new } -%}
                        <ins>{%- call macros::format_result_html(new) -%}</ins> <del>{%- call macros::format_result_html(old) -%}</del>
                {%- endmatch -%}
            {%- endmacro -%}

            {%- macro action(method, label, suggestion_type, suggestion_id, prompt) -%}
                <form action="/moderation" method="post" enctype="application/x-www-form-urlencoded"
                      {%- if (method != "edit") -%}
                        onsubmit="return confirm('{{ prompt }}')"
                      {%- endif -%}
                >
                    <select name="suggestion_type" hidden><option value="{{ suggestion_type }}"></select>
                    <select name="suggestion" hidden><option value="{{ suggestion_id }}"></select>
                    <select name="method" hidden><option value="{{ method }}"></select>
                    <button type="submit">{{ label }}</button>
                </form>
            {%- endmacro -%}

            {%- macro word_suggestion_action(method, label) -%}
                {%- call action(
                    method,
                    label,
                    "word",
                    s.suggestion_id,
                    "Are you sure you want to {} this suggestion?"|format(method)
                ) -%}
            {%- endmacro -%}

            {%- macro word_deletion_action(is_accept, label) -%}
                {%- let prompt -%}
                {%- let method -%}

                {%- if is_accept -%}
                    {%- let prompt = "Are you sure you want to permanently delete this word?" -%}
                    {%- let method = "accept" -%}
                {%- else -%}
                    {%- let prompt = "Are you sure you want to reject this suggestion?" -%}
                    {%- let method = "reject" -%}
                {%- endif -%}

                {%- call action(
                    method,
                    label,
                    "word_deletion",
                    s.suggestion_id,
                    prompt
                ) -%}
            {%- endmacro -%}

            {%- macro example_suggestion_action(method, label) -%}
                {%- call action(
                    method,
                    label,
                    "example",
                    ex.suggestion_id,
                    "Are you sure you want to {} this suggestion?"|format(method)
                ) -%}
            {%- endmacro -%}

            {%- macro example_deletion_action(is_accept, label) -%}
                {%- let prompt -%}
                {%- let method -%}

                {%- if is_accept -%}
                    {%- let prompt = "Are you sure you want to permanently delete this example?" -%}
                    {%- let method = "accept" -%}
                {%- else -%}
                    {%- let prompt = "Are you sure you want to reject this suggestion?" -%}
                    {%- let method = "reject" -%}
                {%- endif -%}

                {%- call action(
                    method,
                    label,
                    "example_deletion",
                    del.suggestion_id,
                    prompt
                ) -%}
            {%- endmacro -%}

            {%- macro linked_word_suggestion_action(method, label) -%}
                {%- call action(
                    method,
                    label,
                    "linked_word",
                    l.suggestion_id,
                    "Are you sure you want to {} this suggestion?"|format(method)
                ) -%}
            {%- endmacro -%}

            {%- macro linked_word_deletion_suggestion_action(is_accept, label) -%}
                {%- let prompt -%}
                {%- let method -%}

                {%- if is_accept -%}
                    {%- let prompt = "Are you sure you want to permanently delete this linked word?" -%}
                    {%- let method = "accept" -%}
                {%- else -%}
                    {%- let prompt = "Are you sure you want to reject this suggestion?" -%}
                    {%- let method = "reject" -%}
                {%- endif -%}

                {%- call action(
                    method,
                    label,
                    "linked_word_deletion",
                    del.suggestion_id,
                    prompt
                ) -%}
            {%- endmacro -%}

            <div id="suggestions">
                {%- if !word_suggestions.is_empty() -%}
                    <h2>Suggested words</h2>
                {%- endif -%}
                <ul>
                    {%- for s in word_suggestions -%}
                        <li>
                            <article class="column_list spaced_flex_list">
                                <header>
                                   <h3 class="suggested_word_text">
                                        {%- match s.word_id -%}
                                            {%- when Some with (id) -%}
                                                <a href="https://isixhosa.click/word/{{ id }}">
                                            {%- when None -%}
                                        {%- endmatch -%}

                                        {%- call maybe_edited(s.english) %} - {% call maybe_edited(s.xhosa) %}
                                        - (
                                            {%- call plural_edited(s.is_plural) -%}
                                            {%- call maybe_edited(s.part_of_speech) -%}
                                            {%- call noun_class_edited(s.is_plural, s.noun_class) -%}
                                        )

                                        {%- if s.word_id.is_some() -%}
                                            </a>
                                        {%- endif -%}
                                    </h3>
                                </header>

                                {# This div prevents the table from expanding to the width of the whole page #}
                                <div>
                                    <table>
                                        <caption>Details</caption>

                                        <tr>
                                            <th scope="row">Change type</th>
                                            <td>
                                                {%- if s.word_id.is_none() -%}
                                                    Word added
                                                {%- else -%}
                                                    Word edited
                                                {%- endif -%}
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Changes summary</th>
                                            <td>{{ s.changes_summary }}</td>
                                        </tr>

                                        {%- if !s.xhosa_tone_markings.is_empty() -%}
                                            <tr>
                                                <th scope="row">Xhosa with tone markings</th>
                                                <td>{%- call maybe_edited(s.xhosa_tone_markings) -%}</td>
                                            </tr>
                                        {%- endif -%}

                                        {%- if !s.infinitive.is_empty() -%}
                                            <tr>
                                                <th scope="row">Infinitive form</th>
                                                <td>{%- call maybe_edited(s.infinitive) -%}</td>
                                            </tr>
                                        {%- endif -%}

                                        {%- if !s.note.is_empty() -%}
                                            <tr>
                                                <th scope="row">Note</th>
                                                <td>{%- call maybe_edited(s.note) -%}</td>
                                            </tr>
                                        {%- endif -%}
                                    </table>
                                </div>

                                {%- if !s.examples.is_empty() -%}
                                    <div>
                                        <h2 class="caption">Examples</h2>

                                        <ul class="examples">
                                            {%- for ex in s.examples -%}
                                                <li>
                                                    <h3>English</h3>
                                                    <p>{%- call maybe_edited(s.english) -%}</p>
                                                    <h3>Xhosa</h3>
                                                     <p>{%- call maybe_edited(s.xhosa) -%}</p>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- endif -%}

                                {%- if !s.linked_words.is_empty() -%}
                                    <div>
                                        <table>
                                            <caption>Linked words</caption>

                                            <thead>
                                                <tr>
                                                    <th scope="col">Link type</th>
                                                    <th scope="col">Other word</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {%- for l in s.linked_words -%}
                                                    <tr>
                                                        <td>{%- call maybe_edited(l.link_type) -%}</td>
                                                        <td>{%- call result_edited(l.other(s.this_id())) -%}</td>
                                                    </tr>
                                                {%- endfor -%}
                                            </tbody>
                                        </table>
                                    </div>
                                {%- endif -%}

                                <div class="row_list spaced_flex_list">
                                    {%- call word_suggestion_action("edit", "Edit") -%}
                                    {%- call word_suggestion_action("accept", "Accept") -%}
                                    {%- call word_suggestion_action("reject", "Reject") -%}
                                </div>
                            </article>
                        </li>
                    {%- endfor -%}
                </ul>

                {%- if !word_deletions.is_empty() -%}
                    <h2>Deletion suggestions</h2>
                {%- endif -%}
                <ul>
                    {%- for s in word_deletions -%}
                        <li>
                            <article class="column_list spaced_flex_list">
                                <header>
                                    <h3 class="suggested_word_text">
                                        <a href="https://isixhosa.click/word/{{ s.word.id }}">
                                            {%- call macros::format_result_html(s.word) -%}
                                        </a>
                                    </h3>
                                </header>

                                <div>
                                    <table>
                                        <caption>Details</caption>
                                        <tr>
                                            <th scope="row">Change type</th>
                                            <td>Word deleted</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Reason</th>
                                            <td>{{ s.reason }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="row_list spaced_flex_list">
                                    {%- call word_deletion_action(true, "Accept deletion") -%}
                                    {%- call word_deletion_action(false, "Reject deletion") -%}
                                </div>
                            </article>
                        </li>
                    {%- endfor -%}
                </ul>

                {%- if !word_associated_edits.is_empty() -%}
                    <h2>Edited examples and linked words</h2>
                {%- endif -%}
                <ul>
                    {%- for (word, assoc) in word_associated_edits -%}
                        <li>
                            <article class="column_list">
                                <header>
                                    <h3 class="suggested_word_text">
                                        <a Dhref="https://isixhosa.click/word/{{ word.id }}">
                                            {%- call macros::format_result_html(word) -%}
                                        </a>
                                    </h3>
                                </header>

                                {%- if !assoc.examples_is_empty() -%}
                                    <div>
                                        <h2 class="caption">Examples</h2>

                                        <ul class="examples">
                                            {%- for ex in assoc.example_suggestions -%}
                                                <li>
                                                    <h3>English</h3>
                                                    <p>{%- call maybe_edited(ex.english) -%}</p>
                                                    <h3>Xhosa</h3>
                                                     <p>{%- call maybe_edited(ex.xhosa) -%}</p>

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call example_suggestion_action("accept", "Accept") -%}
                                                        {%- call example_suggestion_action("reject", "Reject") -%}
                                                        <!-- TODO example suggestion edit form -->
                                                    </div>
                                                </li>
                                            {%- endfor -%}

                                            {%- for del in assoc.example_deletion_suggestions -%}
                                                <li>
                                                    <h3><del>English</del></h3>
                                                    <p><del>{{ del.example.english }}</del></p>
                                                    <h3><del>Xhosa</del></h3>
                                                    <p><del>{{ del.example.xhosa }}</del></p>

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call example_deletion_action(true, "Accept deletion") -%}
                                                        {%- call example_deletion_action(false, "Reject deletion") -%}
                                                    </div>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- endif -%}

                                {%- if !assoc.linked_words_is_empty() -%}
                                    <div>
                                        <h2 class="caption">Linked words</h2>

                                        <ul>
                                            {%- for l in assoc.linked_word_suggestions -%}
                                                <li>
                                                    {%- call result_edited(l.other(WordId(word.id.clone()).into())) %} -
                                                    {% call maybe_edited(l.link_type) -%}

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call linked_word_suggestion_action("accept", "Accept") -%}
                                                        {%- call linked_word_suggestion_action("reject", "Reject") -%}
                                                        <!-- TODO linked word suggestion edit form -->
                                                    </div>
                                                </li>
                                            {%- endfor -%}

                                            {%- for del in assoc.linked_word_deletion_suggestions -%}
                                                <li>
                                                    <del>
                                                        {%- call macros::format_result_html(del.link.other) %} -
                                                        {{ del.link.link_type -}}
                                                    </del>

                                                    <div class="row_list spaced_flex_list">
                                                        {%- call linked_word_deletion_suggestion_action(true, "Accept deletion") -%}
                                                        {%- call linked_word_deletion_suggestion_action(false, "Reject deletion") -%}
                                                    </div>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- endif -%}
                            </article>
                        </li>
                    {%- endfor -%}
                </ul>

                {%- if self.is_empty() -%}
                    <p>There are no suggestions to review at this time.<p>
                {%- endif -%}
            </div>
        </main>
    </div>
</body>

</html>