{%- import "search_box.html" as searchbox -%}
{%- import "macros.html" as macros -%}

<!DOCTYPE html>

<html lang="en-ZA">
<head>
    <title>IsiXhosa Live Dictionary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="og:type" content="website"/>
    <meta name="og:title" content="Live Dictionary"/>
    <meta name="og:url" content="https://isixhosa.xyz/search"/>
    <meta name="og:site_name" content="IsiXhosa.xyz"/>
</head>

<body>
    <h1>IsiXhosa Live Dictionary</h1>
    <h2>Search for a word:</h2>

    {%- call searchbox::searchbox() -%}

    <div id="hits">
        <ol>
            {%- for hit in hits -%}
                <!-- TODO(accept) test -->
                <li>{%- call macros::format_result(hit.document) -%}</li>
            {%- endfor -%}
        </ol>
    </div>
</body>

</html>