{%- import "search_box.html" as searchbox -%}
{%- import "macros.html" as macros -%}

<!DOCTYPE html>

<html lang="en-ZA">
<head>
    <title>IsiXhosa Live Dictionary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="og:type" content="website"/>
    <meta name="og:title" content="Live Dictionary"/>
    <meta name="og:url" content="https://isixhosa.xyz/search"/>
    <meta name="og:site_name" content="IsiXhosa.xyz"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
</head>

<body>
    <h1>IsiXhosa Live Dictionary</h1>

    {%- call searchbox::searchbox(query) -%}

    <div class="search_container">
        <h2>Search for a word:</h2>

        <div id="searchbox"></div>
        <div id="hits">
            <ol class="hits">
                {%- for hit in hits -%}
                <!-- TODO(accept) test -->
                <li class="hit">{%- call macros::format_result(hit.document) -%}</li>
                {%- endfor -%}
            </ol>
        </div>
    </div>
</body>

</html>