{%- macro searchbox(start_query) -%}
    <script type="module">
        import { LiveSearch } from "/live_search.js?v=3";

        window.addEventListener("DOMContentLoaded", function() {
            let input = document.createElement("input");
            input.className = "searchbox_input";
            input.placeholder = "Type an English or Xhosa word";
            input.setAttribute("type", "search");
            document.getElementById("searchbox").appendChild(input);
            input.value = "{{ start_query }}";
            input.focus();

            document.getElementById("searchbox").role = "search";

            function createContainer() {
                let list = document.createElement("ol");
                list.className = "hits";
                return list;
            }

            function createItem(formatted, id) {
                let link = document.createElement("a");
                link.href = `/word/${id}`;
                link.className = "hit";
                return link;
            }

            function postCreateItem(link) {
                let goArrow = document.createElement("span");
                goArrow.classList.add("material-icons", "go_arrow");
                goArrow.innerText = "arrow_forward";
                link.appendChild(goArrow);
            }

            function createItemContainer() {
                let container = document.createElement("li");
                container.className = "hit_container";
                return container;
            }

            new LiveSearch(
                input,
                document.getElementById("hits"),
                createContainer,
                createItem,
                postCreateItem,
                createItemContainer,
                null, /* skip word id */
                false, /* skip is suggestion */
                false /* include own suggestions */
            );
        });
    </script>

    <noscript>
        <form id="search" action="/search" method="GET" role="search">
            <label for="query">Search for a word</label>

            <input type="search" id="query" name="query" value="{{ start_query }}" autofocus class="searchbox_input" aria-labelledby="main_header" spellcheck="false">
            <button type="submit" class="search_submit_button">Search</button>
        </form>
    </noscript>
{%- endmacro -%}
