{%- macro searchbox() -%}

<div>
    <div id="searchbox"></div>
    <div id="hits"></div>
</div>

<script type="module">
    import { LiveSearch } from "/live_search.js";

    let input = document.createElement("input");
    input.setAttribute("type", "search");
    document.getElementById("searchbox").appendChild(input);
    input.focus();

    new LiveSearch(input, document.getElementById("hits"));
</script>

<noscript>
    <form id="search" action="/search" method="GET">
        <label for="query">Search for a word:</label>

        <input type="search" id="query" name="query" autofocus>
        <button type="submit">Search</button>
    </form>
</noscript>

{%- endmacro -%}
