{%- macro searchbox(start_query) -%}
    <script type="module">
        import { LiveSearch } from "/live_search.js";

        document.addEventListener("DOMContentLoaded", function() {
            let input = document.createElement("input");
            input.setAttribute("type", "search");
            document.getElementById("searchbox").appendChild(input);
            input.value = "{{ start_query }}";
            input.focus();

            new LiveSearch(input, document.getElementById("hits"));
        });
    </script>

    <noscript>
        <form id="search" action="/search" method="GET">
            <label for="query">Search for a word:</label>

            <input type="search" id="query" name="query" value="{{ start_query }}" autofocus>
            <button type="submit">Search</button>
        </form>
    </noscript>
{%- endmacro -%}
