{%- import "macros.askama.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>Submit a word - IsiXhosa.click</title>
    <meta name="og:title" content="Submit a word - IsiXhosa.click"/>
    {%- call macros::description("Submit a word to the free, open IsiXhosa.click live dictionary for Xhosa and English.") -%}
    <meta name="og:url" content="https://isixhosa.click/submit"/>
    <link rel="stylesheet" href="/submit.css?v=1">
    {%- call macros::meta() -%}
</head>

<body>
    {%- call macros::navbar() -%}

    <div id="main_wrap">
        <header>
            <h1>Submit a word</h1>
        </header>

        {%- match previous_success -%}
            {%- when Some with (true) -%}
                <script>
                    // HACK(restioson): stop F5 from resubmitting form
                    if (window.history.replaceState) {
                        window.history.replaceState(null, null, window.location.href);
                    }
                </script>
            {%- when other -%}
        {%- endmatch -%}

        <main>
            {%- match previous_success -%}
                {%- when Some with (true) -%}
                    <p>Word successfully submitted!</p>
                {%- when Some with (false) -%}
                    <p>There was an error submitting the word.</p>
                {%- when None -%}
            {%- endmatch -%}

            <noscript>
                <strong>Javascript is required for this page to work properly due to the complex nature of the form.
                    It may work regardless, but adding examples and linked words will certainly not. Apologies!</strong>
            </noscript>


            {%- let route -%}

            {%- match action -%}
                {%- when SubmitFormAction::EditSuggestion with { suggestion_id: _, existing_id: _ } -%}
                    {%- let route = "/moderation/edit".to_string() -%}
                {%- when SubmitFormAction::SubmitNewWord -%}
                    {%- let route = "/submit".to_string() -%}
                {%- when SubmitFormAction::EditExisting with (id) -%}
                    {%- let route = format!("/word/{}", id) -%}
            {%- endmatch -%}

            <form id="submit_word" action="{{ route }}" method="post" enctype="application/x-www-form-urlencoded" class="column_list">
                {%- match action -%}
                    {%- when SubmitFormAction::EditSuggestion with { suggestion_id, existing_id } -%}
                        <select name="suggestion_id" hidden><option value="{{ suggestion_id }}"></select>

                        {%- match existing_id -%}
                            {%- when Some with (existing_id) -%}
                                <select name="existing_id" hidden><option value="{{ existing_id }}"></select>
                            {%- when None -%}
                        {%- endmatch -%}
                    {%- when SubmitFormAction::EditExisting with (id) -%}
                        <select name="existing_id" hidden><option value="{{ id }}"></select>
                    {%- when other -%}
                {%- endmatch -%}

                <fieldset class="contains_table">
                    <legend>Translation</legend>

                    <div class="table">
                        <div>
                            <label for="english">English:</label>
                            <input type="text" id="english" name="english" autocomplete="off" spellcheck="true" value="{{ word.english }}">
                        </div>

                        <div>
                            <label for="xhosa">Xhosa:</label>
                            <input type="text" id="xhosa" name="xhosa" autocomplete="off" spellcheck="false" value="{{ word.xhosa }}">
                        </div>

                        <div>
                            <label for="xhosa_tone_markings">Xhosa with tone markings:</label>
                            <input type="text" id="xhosa_tone_markings" name="xhosa_tone_markings" autocomplete="off" spellcheck="false" value="{{ word.xhosa_tone_markings }}">
                        </div>

                        <div>
                            <label for="note">Note:</label>
                            <textarea id="note" name="note" autocomplete="off" spellcheck="true">
                                {{- word.note -}}
                            </textarea>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="contains_table">
                    <legend>Part of speech</legend>

                    <div class="table">
                        <div>
                            <label for="part_of_speech">Part of speech:</label>
                            <select id="part_of_speech" name="part_of_speech">
                                <option value="">Choose a part of speech</option>
                                <option value="verb" id="verb_selected">Verb</option>
                                <option value="noun" id="noun_selected">Noun</option>
                                <option value="adverb">Adverb</option>
                                <option value="relative">Relative (adjective)</option>
                                <option value="adjective" disabled hidden>Adjective (isiphawuli)</option>
                                <option value="interjection">Interjection</option>
                                <option value="conjunction" id="conjunction_selected">Conjunction</option>
                                <option value="preposition">Preposition</option>
                            </select>
                        </div>

                        {%- match word.part_of_speech -%}
                            {% when Some with (part) %}
                                <script type="module">
                                    window.addEventListener("DOMContentLoaded", function () {
                                        let select = document.getElementById("part_of_speech");
                                        for (let option of select.options) {
                                            if (option.value === {{ part|json }}) {
                                                if (option.value === "adjective") {
                                                    option.hidden = false;
                                                    option.disabled = false;
                                                }

                                                option.selected = true;
                                            }
                                        }
                                    });
                                </script>
                            {% when None %}
                        {%- endmatch -%}

                        {#-  Noun options -#}

                        <div class="noun_option" hidden>
                            <label for="is_plural">Plural?</label>
                            <input type="checkbox" id="is_plural" name="is_plural" {%- if word.is_plural %} checked {%- endif -%}>
                        </div>

                        {%- match word.noun_class -%}
                            {%- when Some with (class) -%}
                                <script type="module">
                                    window.addEventListener("DOMContentLoaded", function () {
                                        let select = document.getElementById("noun_class");
                                        select.options[{{ class.as_u8() }}].selected = true;
                                    });
                                </script>
                            {%- when None -%}
                        {%- endmatch -%}

                        <div class="noun_option" hidden>
                            <label for="noun_class">Noun class:</label>
                            <select id="noun_class" name="noun_class">
                                <option value="">Choose a noun class</option>
                                <option value="Class1Um">um (aba)</option>
                                <option value="Aba">aba</option>
                                <option value="U">u</option>
                                <option value="Oo">oo</option>
                                <option value="Class3Um">um (imi)</option>
                                <option value="Imi">imi</option>
                                <option value="Ili">i(li)</option>
                                <option value="Ama">ama</option>
                                <option value="Isi">isi</option>
                                <option value="Izi">izi</option>
                                <option value="In">i(n)</option>
                                <option value="Izin">i(z)i(n)</option>
                                <option value="Ulu">ulu</option>
                                <option value="Ubu">ubu</option>
                                <option value="Uku">uku</option>
                            </select>
                        </div>

                        {#-  Verb options -#}

                        <div class="verb_option" hidden>
                            <label for="infinitive">Infinitive form:</label>
                            <input type="text" id="infinitive" name="infinitive" autocomplete="off" spellcheck="false" value="{{ word.infinitive }}">
                        </div>

                        <div class="verb_option" hidden>
                            <label for="is_inchoative">Inchoative?</label>
                            <input type="checkbox" id="is_inchoative" name="is_inchoative" {%- if word.is_inchoative %} checked {%- endif -%}>
                        </div>


                        <div class="verb_option row_list" id="transitivity" hidden>
                            <span>Transitivity:</span>

                            {#- ambitransitive is default -#}
                            {%- let ambitransitive = word.transitivity == Some(Transitivity::Ambitransitive) ||
                                word.transitivity.is_none()
                            -%}

                            <label for="either">Either
                                <input type="radio" id="either" name="transitivity" value="either"
                                    {%- if ambitransitive  %} checked {%- endif -%}
                                >
                            </label>

                            <label for="transitive">Transitive only
                                <input type="radio" id="transitive" name="transitivity" value="transitive"
                                    {%- if word.transitivity == Some(Transitivity::Transitive) %} checked {%- endif -%}
                                >
                            </label>

                            <label for="intransitive">Intransitive only
                                <input type="radio" id="intransitive" name="transitivity" value="intransitive"
                                    {%- if word.transitivity == Some(Transitivity::Intransitive) %} checked {%- endif -%}
                                >
                            </label>

                            <input type="radio" id="transitivity_unselected" name="transitivity" value="" hidden>
                        </div>

                        {#- Conjunction options -#}

                        <div class="conjunction_option" hidden>
                            <label for="followed_by">Followed by:</label>
                            <input type="text" autocomplete="off" spellcheck="false" list="followed_by_list"
                                value="{{ word.followed_by.clone().unwrap_or_default() }}" name="followed_by" id="followed_by"
                            >

                            {#- Hidden is due to dumb table stuff -#}
                            <datalist id="followed_by_list" hidden>
                              <option value="Indicative mood">
                              <option value="Subjunctive mood">
                              <option value="Participial mood">
                            </datalist>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Example sentences</legend>

                    <ul id="examples" class="bare_list spaced_list">
                        <li><button id="add_example" type="button">Add another</button></li>
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>Linked words</legend>

                    <ul id="linked_words" class="bare_list spaced_list">
                        <li><button id="add_linked_word" type="button">Add another</button></li>
                    </ul>
                </fieldset>

                <div>
                    <button type="submit">
                        {%- match action -%}
                            {%- when SubmitFormAction::SubmitNewWord -%}
                                Suggest word
                            {%- when SubmitFormAction::EditSuggestion with { suggestion_id: _, existing_id: _ } -%}
                                Submit edit to suggestion
                            {%- when SubmitFormAction::EditExisting with (_) -%}
                                Suggest edit to word
                        {%- endmatch -%}
                    </button>
                </div>
            </form>

            <script type="module">
                import { addExample, addExamples } from "/submit/example.js";
                import { partOfSpeechChange } from "/submit/part_of_speech_specific.js";
                import { addLinkedWord, addLinkedWords } from "/submit/linked_word.js?v=2";

                window.addEventListener("DOMContentLoaded", function() {
                    let input_list = document.getElementsByTagName("input");

                    for (let i = 0; i < input_list.length; i++) {
                        let input = input_list.item(i);

                        if (input.type === "text") {
                            input.setAttribute("data-lpignore", "true");
                        }
                    }
                });

                window.addEventListener("load", function() {
                    function htmlDecode(input) {
                        let doc = new DOMParser().parseFromString(input, "text/html");
                        return doc.documentElement.textContent;
                    }

                    {%- let (this_word_id, this_is_new_suggestion) = self.this_word_id_js() -%}

                    addExamples({{ word.examples|json }});
                    addLinkedWords({{ word.linked_words|json }}, {{ this_word_id }}, {{ this_is_new_suggestion }});
                    partOfSpeechChange(); /* Refresh part of speech sections */

                    document.getElementById("part_of_speech").addEventListener("change", function() { partOfSpeechChange() });
                    document.getElementById("add_example").addEventListener("click", function() { addExample() });
                    document.getElementById("add_linked_word").addEventListener("click", function() {
                        addLinkedWord({{ this_word_id }}, {{ this_is_new_suggestion }});
                    });
                    document.getElementById("submit_word").addEventListener("submit", function() {
                        let linked_words = document.getElementsByClassName("word_select_search");

                        for (let i = 0; i < linked_words.length; i++) {
                            let word = linked_words.item(i);
                            let value = {
                                id: word.getAttribute("data-selected_word_id"),
                                is_suggestion: word.getAttribute("data-selected_is_suggestion"),
                            };
                            word.value = JSON.stringify(value);
                        }

                        if (!document.getElementById("noun_selected").selected) {
                            document.getElementById("is_plural").checked = false;
                            document.getElementById("noun_class").value = "";
                        }

                        if (!document.getElementById("verb_selected").selected) {
                            document.getElementById("infinitive").value = "";
                            document.getElementById("is_inchoative").checked = false;
                            document.getElementById("transitivity_unselected").checked = true;
                        }

                        if (!document.getElementById("conjunction_selected").selected) {
                            document.getElementById("followed_by").value = "";
                        }
                    });
                })
            </script>
        </main>
    </div>
</body>

</html>
