{%- import "macros.html" as macros -%}

<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <title>{{ word.english }} - {{ word.xhosa }} - IsiXhosa Live Dictionary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="og:type" content="website"/>
    <meta name="og:title" content="Live Dictionary"/>
    <meta name="og:url" content="https://isixhosa.xyz/word/{{- word.word_id -}}"/>
    <meta name="og:site_name" content="IsiXhosa.xyz"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
</head>

<body>
    <h1>IsiXhosa Live Dictionary</h1>
    <h2>{{ word.english }} - {{ word.xhosa }}</h2>

    <div class="column_list spaced_list">
        {# This div prevents the table from expanding to the width of the whole page #}
        <div>
            <table>
                <caption>Word information</caption>

                <tr>
                    <td>Part of speech</td>
                    <td>{{ word.part_of_speech }}</td>
                </tr>

                {%- if word.part_of_speech == PartOfSpeech::Noun -%}
                    <tr>
                        <td>Plural</td>
                        <td>
                            {%- if word.is_plural -%}
                                Yes
                            {%- else -%}
                                No
                            {%- endif -%}
                        </td>
                    </tr>
                {%- endif -%}

                {%- match word.noun_class -%}
                    {%- when Some with (class) -%}
                        <tr>
                            <td>Noun class</td>
                            <td>{%- call macros::noun_class_prefix(word.is_plural, class) -%}</td>
                        </tr>
                    {%- when None -%}
                {%- endmatch -%}

                {%- if !word.infinitive.is_empty() -%}
                    <tr>
                        <td>Infinitive</td>
                        <td>{{ word.infinitive }}</td>
                    </tr>
                {%- endif -%}

                {%- if !word.xhosa_tone_markings.is_empty() -%}
                    <tr>
                        <td>Xhosa with tone markings</td>
                        <td>{{ word.xhosa_tone_markings }}</td>
                    </tr>
                {%- endif -%}

                {%- if !word.note.is_empty() -%}
                    <tr>
                        <td>Note (extra information)</td>
                        <td>{{ word.note }}</td>
                    </tr>
                {%- endif -%}
            </table>
        </div>

        {%- if !word.examples.is_empty() -%}
            <div>
                <table>
                    <caption>Examples</caption>

                    <thead>
                        <tr>
                            <th>English</th>
                            <th>Xhosa</th>
                        </tr>
                    </thead>

                    <tbody>
                        {%- for ex in word.examples -%}
                            <tr>
                                <td>{{ ex.english }}</td>
                                <td>{{ ex.xhosa }}</td>
                            </tr>
                        {%- endfor -%}
                    </tbody>
                </table>
            </div>
        {%- endif -%}

        {%- if !word.linked_words.is_empty() -%}
            <div>
                <table>
                    <caption>Linked words</caption>

                    <thead>
                        <tr>
                            <th>Link type</th>
                            <th>Other word</th>
                        </tr>
                    </thead>

                    <tbody>
                        {%- for link in word.linked_words -%}
                            <tr>
                                <td>{{ link.link_type }}</td>
                                <td><a href="/word/{{ link.other.id }}">{%- call macros::format_result(link.other) -%}</a></td>
                            </tr>
                        {%- endfor -%}
                    </tbody>
                </table>
            </div>
        {%- endif -%}
    </div>
</body>

</html>